@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara|Khand);
@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara|Khand);
@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara|Khand);
@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara|Khand);
@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara|Khand);
@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara|Khand);
@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara|Khand);
@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara|Khand);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body {
  text-align: center;
  margin: 0 auto;
  padding: 0px 0px;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden; }
  html .body, body .body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    position: relative;
    margin-bottom: 20px; }
    html .body::after, body .body::after {
      clear: both;
      content: "";
      display: table; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.banner {
  color: #FFFBFF;
  text-align: center;
  font-size: 40px; }
  @media screen and (max-width: 600px) {
    .banner {
      font-size: 16px; } }
  .banner .imagery {
    position: relative;
    width: 100%; }
    .banner .imagery img {
      width: 100%;
      height: 30%; }
      @media screen and (max-width: 600px) {
        .banner .imagery img {
          height: 10%; } }
    .banner .imagery h1 {
      position: absolute;
      top: 3%;
      left: 0px;
      width: 100%;
      height: 30%;
      font-family: "Khand", sans-serif; }
      @media screen and (max-width: 600px) {
        .banner .imagery h1 {
          top: -20%; } }
    .banner .imagery p {
      position: absolute;
      top: 90%;
      left: 42%;
      width: 100%;
      font-family: "Khand", sans-serif;
      font-size: 10px; }
      @media screen and (max-width: 600px) {
        .banner .imagery p {
          top: 85%;
          font-size: 3px; } }
  .banner .navigation {
    background-color: #688BC0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 40px; }
    .banner .navigation li {
      top: 0;
      display: inline-block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      background-color: #688BC0;
      font-family: "Khand", sans-serif;
      color: #FFFBFF; }
      @media screen and (max-width: 600px) {
        .banner .navigation li {
          padding: 10px 12px; } }
      .banner .navigation li:hover {
        background-color: #b0c2de;
        cursor: pointer; }
    .banner .navigation li.active-page {
      background-color: #fff;
      color: #201317; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.footer {
  background-color: #688BC0;
  font-family: "Khand", sans-serif;
  color: #FFFBFF;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  clear: both;
  padding: 7px;
  position: relative; }
  @media screen and (max-width: 600px) {
    .footer {
      font-size: 15px; } }
  .footer a {
    text-decoration: none;
    color: #FFFBFF; }
    .footer a:hover {
      text-decoration: underline; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.container {
  background-color: #fff;
  font-family: "Hind Vadodara", sans-serif;
  border: 3px solid #5fc5b9;
  margin: 40px 0px;
  padding-bottom: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 600px) {
    .container {
      margin-left: 10px;
      margin-right: 10px;
      font-size: 12x; } }
  .container p {
    display: none;
    margin-left: 50px;
    margin-right: 50px; }
    @media screen and (max-width: 600px) {
      .container p {
        margin-left: 25px;
        margin-right: 25px; } }
  .container i, .container a {
    padding: 5px;
    color: #201317;
    text-decoration: none; }
    .container i:hover, .container a:hover {
      cursor: pointer;
      color: #201317; }

.large {
  width: 1000px; }
  @media screen and (max-width: 600px) {
    .large {
      width: 300px; } }

.medium {
  width: 700px; }

.small {
  width: 300px; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.map-container {
  text-align: center;
  font: "Khand", sans-serif;
  font-size: 20px;
  border-bottom: 5px solid #5fc5b9;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  .map-container::after {
    clear: both;
    content: "";
    display: table; }
  .map-container .map-header {
    border: 5px solid #5fc5b9;
    width: 1000px;
    height: 100px;
    display: inline-block;
    color: #fff;
    background-color: #5fc5b9; }
  .map-container .map-dashboard {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto; }
    .map-container .map-dashboard::after {
      clear: both;
      content: "";
      display: table; }
    .map-container .map-dashboard #map {
      height: 500px;
      margin: 0px auto;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .map-container .map-dashboard #map:last-child {
        margin-right: 0; }
    .map-container .map-dashboard .map-menu {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      height: 500px;
      color: "Khand", sans-serif; }
      .map-container .map-dashboard .map-menu:last-child {
        margin-right: 0; }
      .map-container .map-dashboard .map-menu .map-menu-text {
        width: 500px;
        height: 100px;
        margin: 0px auto;
        text-align: center;
        padding-top: 20px; }
      .map-container .map-dashboard .map-menu .map-button {
        width: 170px;
        display: inline-block;
        padding-top: 300px;
        color: #5fc5b9;
        font-size: 30px; }
        .map-container .map-dashboard .map-menu .map-button:hover {
          color: #aae0da;
          cursor: pointer; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.image {
  border: 5px solid #85d2ca;
  max-width: 1000px; }
  @media screen and (max-width: 600px) {
    .image {
      max-width: 300px;
      text-align: center;
      border: 5px solid #85d2ca; } }

.text h2, .text li, .text p {
  font-family: "Hind Vadodara", sans-serif;
  text-align: justify;
  color: primary-font;
  max-width: 1000px;
  margin-left: 100px;
  margin-right: 100px; }
  @media screen and (max-width: 600px) {
    .text h2, .text li, .text p {
      font-size: 12px;
      margin-left: 10px;
      margin-right: 10px; } }

.blog.text h2 {
  text-align: center; }

.contact.text h2, .contact.text p {
  text-align: center; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.link {
  color: #688BC0; }
  .link:hover {
    text-decoration: underline;
    cursor: pointer; }
  @media screen and (max-width: 600px) {
    .link {
      font-size: 12px;
      margin-left: 10px;
      margin-right: 10px; } }

.icon {
  font-size: 40px;
  margin: 20px;
  color: #201317; }
  .icon:hover {
    cursor: pointer;
    color: #85d2ca; }
  @media screen and (max-width: 600px) {
    .icon {
      font-size: 12px;
      margin-left: 10px;
      margin-right: 10px; } }

.about {
  display: none; }

.contact {
  display: none; }

.work {
  display: none; }

.blog {
  display: none; }

/*# sourceMappingURL=style.css.map */
