@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara|Khand)
@import "neat/neat"
@import "bourbon/bourbon"

$header-color: #201317
$primary-color: #EBDDE2
$secondary-color: #FFFBFF
$hover-color: #f0e6e9
$accent-color: darken(#aae0da, 10%)
$container-color: darken($accent-color, 10%)
$primary-font: 'Khand', sans-serif
$secondary-font: 'Hind Vadodara', sans-serif

html, body

	text-align: center
	margin: 0 auto
	padding: 0px 0px
	width: 100%
	min-height: 100%
	overflow-x: hidden

	.banner
		color: $secondary-color
		text-align: center
		font-size: 40px
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(235, 221, 226)

		@media screen and (max-width: 600px)
			font-size: 16px

		.imagery 
			position: relative
			width: 100%

			img 
				width: 100%
				height: 30%
				@media screen and (max-width: 600px)
					height: 10%

			h1
				position: absolute
				top: 3%
				left: 0px
				width: 100%
				height: 30%
				font-family: $primary-font
				@media screen and (max-width: 600px)
					top: -20%

			p 
				position: absolute
				top: 90%
				left: 42%
				width: 100%
				font-family: $primary-font
				font-size: 10px
				@media screen and (max-width: 600px)
					top: 85%
					font-size: 3px

		.navigation
			background-color: $primary-color
			list-style-type: none
			margin: 0
			padding: 0

			li 
				top: 0
				display: inline-block
				text-align: center
				padding: 14px 16px
				@media screen and (max-width: 600px)
					padding: 10px 12px
				text-decoration: none
				background-color: $primary-color
				font-family: $primary-font
				color: $secondary-color
				&:hover
					background-color: $hover-color
					cursor: pointer

			li.active-page
				background-color: #fff
				color: $header-color

	.body 
		font-family: $secondary-font
		color: $header-color
		text-align: center
		@include outer-container()
		min-height: 100%
		position: relative
		margin-bottom: 20px

		p
			text-align: justify
			margin-left: 100px
			margin-right: 100px
			@media screen and (max-width: 600px)
				font-size: 12px
				margin-left: 10px
				margin-right: 10px

			a
				color: $header-color
				text-decoration: none
		.home
			.slideshow-container
				max-width: 1000px
				position: relative
				margin: auto
				border: 5px solid $accent-color
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

			.text
				color: $secondary-color
				font-size: 15px
				padding: 8px 12px
				position: absolute
				bottom: 8px
				width: 100%
				text-align: center
				font-family: $primary-font

			.numbertext
				color: $secondary-color
				font-family: $primary-font
				font-size: 12px
				padding: 8px 12px
				position: absolute
				top: 0

			.dot
				height: 13px
				width: 13px
				margin: 0 2px
				background-color: $primary-color
				border-radius: 50%
				display: inline-block
				transition: background-color 0.6s ease

			.active
				background-color: $accent-color

			.fade
				-webkit-animation-name: fade
				-webkit-animation-duration: 1.5s
				animation-name: fade
				animation-duration: 1.5s

		.about
			text-align: justify
			display: none

			h2, li
				margin-left: 100px
				margin-right: 100px
				@media screen and (max-width: 600px)
					margin-left: 10px
					margin-right: 10px

			a
				&:hover
					text-decoration: underline
					cursor: pointer

		.contact
			display: none
			font-size: 20px
			
			p
				text-align: center

			i
				width: 50px
				height: 50px
				font-size: 30px
				&:hover
					color: $accent-color

			a
				text-decoration: none
				color: $header-color

		.work
			display: none
			@include outer-container()
			@media screen and (max-width: 600px)
				font-size: 12px

			a
				text-decoration: none
				color: $accent-color
				&:hover
					text-decoration: underline

			p
				text-align: justify
				margin: 20px 60px
				@media screen and (max-width: 600px)
					margin: 10px 10px

			img
				border: 10px solid $accent-color
				max-width: 1000px
				@media screen and (max-width: 600px)
					max-width: 300px
					text-align: center
					border: 5px solid $accent-color

		.blog
			display: none

			h2
				padding-top: 10px
				@media screen and (max-width: 600px)
					font-size: 12x

			div
				color: #fff
				margin-left: 100px
				margin-right: 100px
				margin-top: 40px
				padding-bottom: 20px
				@media screen and (max-width: 600px)
					margin-left: 10px
					margin-right: 10px

				p
					display: none
					margin-left: 50px
					margin-right: 50px
					@media screen and (max-width: 600px)
						margin-left: 25px
						margin-right: 25px

			div#blog1
				background-color: darken($accent-color, 10%)
				i
					padding: 5px
					&:hover
						cursor: pointer
						color: $header-color
				a
					color: #fff
					text-decoration: none
					&:hover
						cursor: pointer
						color: $header-color

			div#blog2
				background-color: darken($accent-color, 10%)
				i
					padding: 5px
					&:hover
						cursor: pointer
						color: $header-color
				a
					color: #fff
					text-decoration: none
					&:hover
						cursor: pointer
						color: $header-color

			div#blog3
				background-color: darken($accent-color, 10%)
				i
					padding: 5px
					&:hover
						cursor: pointer
						color: $header-color
				a
					color: #fff
					text-decoration: none
					&:hover
						cursor: pointer
						color: $header-color

	.footer
		background-color: $container-color
		font-family: $primary-font
		color: $secondary-color
		bottom: 0
		width: 100%
		text-align: center
		font-size: 25px
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
		clear: both
		padding: 7px
		position: relative
		@media screen and (max-width: 600px)
			font-size: 15px

		a
			text-decoration: none
			color: $secondary-color
			&:hover
				text-decoration: underline