extends layout.pug
block content
	.contact
		a.link.icon(href='https://github.com/Noznoc', target='_blank')
			i.fa.fa-github-square(aria-hidden='true') 
		a.link.icon(href='https://t.co/jMpBYPZXG0', target='_blank')
			i.fa.fa-linkedin-square(aria-hidden='true')
		a.link.icon(href='https://twitter.com/julconz?lang=en', target='_blank')
			i.fa.fa-twitter-square(aria-hidden='true')
		hr.line
		div.content
			h2.title Contact Me
			form(action='/contact', name='contactus', id='contactus', method='post')
				fieldset
					p
						input(placeholder='name', name='name', type='text', value='', id='name')
						input(placeholder='email', name='email', type='text', value='', id='email')
					p.text Send me a message!
					br
					textarea(name='message', cols='40', rows='10', id='message')
					p
					input.button(name='submit', type='submit', value='Send', id='submit')
		hr.line
	script.
		var coordinates = [];
		addMap([-74.2198126, -13.1556384], 13, 2, 13, coordinates);
		$('#legend').find('h4').html('WHERE I CURRENTLY LIVE');