extends layout.pug
block content
	h2.title All code is accessible at my 
		a.link(href='https://github.com/Noznoc', target='_blank') 
			|GitHub account Noznoc
		p#buttons
			button.button(name='work-3') StatCan
			button.button(name='work-2') GovEx
			button.button(name='work-1') PWYP / Open North
	hr.line
	p#work-3 
		strong Statistics Canada (StatCan) Crowdsourcing Project: 
		|  I had the exciting opprotunity to work with Statistics Canada on a 
		strong
			a.link(href='www.statcan.gc.ca/eng/crowdsourcing' target='_blank') pilot project 
		| that assesses whether crowdsourcing is a valuable and viable method to collect data for statistical purposes. The project collected building footprint data, such as the geometry and attributes of a single building, in Ottawa and Gatineau through the open source platform OpenStreetMap (OSM). While working on the project, I had the opprotunity to develop a geospatial server to support the crowdsourced OSM geospatial data. In general, the following steps were completed to develop the spatial server: 
		p (i) I collected the OSM data from Geofabrik
		p (ii) I stored the data into a PostGIS database
		p (iii) I developed a Node.js RESTful API to query the database and send the spatial data as a GeoJSON to the front-end
		p (iv) I used Mapbox GL JS to visualize the GeoJSON data as a map
		p (v) I used the data-driven styling tools in the Mapbox GL JS library to visually assess distribution of OSM building tags
		p (vi) I designed and developed a web app to visualize the GeoJSONs
		p To see the code, go 
			strong
				a.link(href='https://github.com/Noznoc/geojson-api', target='_blank') here
	img.image(src='/images/geojsonapi.png')
	img.image(src='/images/ottawa.PNG')
	img.image(src='/images/gatineau.PNG')
	hr.line
	p#work-2
		strong Open Data Standards Directory: 
		| I have been working with 
		strong
			a.link(href='https://govex.jhu.edu/' target='_blank') Johns Hopkins University's Center for Government Excellence (GovEx) 
		| and 
		strong
			a.link(href='http://geothink.ca/' target='_blank') McGill's Geothink 
		| on a project for 
		strong
			a.link(href='http://geothink.ca/tag/open-data-standards/' target='_blank') open data standards
		|. Various stackholders share the concern that there is no comprehensive database of open data standards. A directory to host and visualize the database provides an opprotunity to share knowledge and communication regarding open data standards. With this in mind, we decided to develop a minimum viable site for open data publishers and open data standard providers to share and disseminate information regarding open data standards. My part of the project involves designing and developing (full stack) the site that hosts this information. As I am new to site development, working on this project has taught me a lot. I learned how to develop a Postgres database, a Node.js and Express back-end, and a Pug and JQuery based front-end, which was then all hosted on the cloud server Heroku. To fully experience the site, go 
		strong
			a.link(href='http://datastandards.directory/', target='_blank') here
	br
	img.image(id='standards', src='images/standards.PNG')
	hr.line
	p#work-1
		strong Interactive Visualization of Payments:
		|  I worked on contract with 
		strong
			a.link(href='https://www.facebook.com/Publish-What-You-Pay-Canada-499862726848991/' target='_blank') Publish What You Pay Canada 
		| and 
		strong
			a.link(href='http://www.opennorth.ca/' target='_blank') Open North 
		| as a open data consultant and freelance web developer. International mining/oil extraction companies, such as Royal Dutch Shell, publish annual reports on their payments to government organizations and projects. For this project, I compiled data on 2015 payments from international extraction companies to government organizations and projects within Canada into a Google Sheet. I then standardized the data (e.g., converted currencies and units of energy) and then, using SQL, visualized the data into an interactive map and dashboard. In general, the visualizations (coded in JavaScript and D3.js and embedded in HTML) shows where mining projects and government organizations (e.g., municipalities and Indigenous groups) are located within Canada and how much these projects and organizations are paid by extraction companies within 2015. The final deliverables included a database of the payments for 2015, with the ability to add future payments; and, as I synced the visualizations to the database, the visualizations can update automatically when new data is added to the database. Through this work, I became familiar with how these companies document/publish their payments to government organizations, what Canadian organizations receive payments from these companies, and where mining projects occur in Canada. To fully experience the interactive visualization, go 
		strong
			a.link(href='http://geomapp.ca/jconzon/pwyp_visualization_v1/index.html', target='_blank') here
	br
	img.image(id='ivop' src='images/ivop.png')
	script.
		var coordinates = [[[-123.112920, 49.250319], "Vancouver"], [[-73.585429, 45.510820], "Montreal"], [[-75.698078, 45.417133], "Ottawa"], [[-74.2198126, -13.1556384], "Ayacucho"]];
		addMap([-99.3822538, 51.197122], 0, 3, 8, coordinates);
		$('#legend').find('h4').html('PLACES I HAVE WORKED <br> Pan to view or click play <br> <i id="play-circle" class="fa fa-play-circle icon" aria-hidden="true"></i>');