extends layout.pug
block content
	.container(style='border:none;')
		h1.title Hello, my name is Julia Conzon
		.row.justify-content-center
			.img-bin.col-md-12.col-xs-12.col-xl-6
				img.view(src='../images/noznoc.jpg' alt='Image of Julia Conzon')
			.col-md-12.col-xs-12.col-xl-6
				p.pt-0.mt-3 I am from North Vancouver. I was taught at a young age about observing my surroundings, learning to recognize the complex connection we have to each other and the Earth. I am continuously striving to unlearn and learn other perspectives to better conceptualize place and space. I work closely with partners to develop technological solutions that aim to better understand and support our diverse social and environmental landscape, such as identifying how to better offer social services or monitoring a certain environmental phenomenon. Though technology can offer opprotunities to better serve people and protect the environment, it needs to be designed and built critically and ethically. This is what I hope to achieve through my work.
			p.col-12.pt-4.pb-4.text-center
				button.button.m-2(name='skills') technical skills
				button.button.m-2(name='work') work
				button.button.m-2(name='education') education
	.container#skills
		h2.mt-5.mb-5.p-1 Technical Skills
		.row.mb-1
			.col-md-4.col-xs-12
				.bin.m-0.p-0.h-100
					.bin-header Design
					.bin-body
						p CSS, SASS, and frameworks (Bootstrap, Materialize, Materialize Design Boostrap)
			.col-md-4.col-xs-12
				.bin.m-0.p-0.h-100
					.bin-header Front-end Dev
					.bin-body
						p JavaScript, jQuery, HTML, React, and templating (Pug, Jinja)
			.col-md-4.col-xs-12
				.bin.m-0.p-0.h-100
					.bin-header Back-end Dev
					.bin-body
						p Node.js + Express, Python + Flask
		.row
			.col-md-4.col-xs-12
				.bin.m-0.p-0.h-100
					.bin-header GIS
					.bin-body
						p 
							strong.highlight Data
							| : shp, osm xml/pbf, geojson, wkt, wkb, images (tiff, jpg, png), imagery (Landsat), kml
						p 
							strong.highlight Geospatial processing and analysis
							| : QGIS, OpenStreetMap (iD, JOSM), GDAL, PostGIS, Esri products (e.g., ArcMap, ArcPro, ArcOnline), other open-source geospatial libraries/software (e.g., R and Python packages like rgdal and geopandas)
						p 
							strong.highlight Web mapping services
							| : Mapbox GL JS, Leaflet (R or JS), Google Maps API
			.col-md-4.col-xs-12
				.bin.m-0.p-0.h-100
					.bin-header Data Science
					.bin-body
						p
							strong.highlight  Data
							| : json, geojson, shp, (satellite) imagery, tiff, csv, kml, osm xml/pbf, R/Python data frames, sas7bdat, unstructured text (tweets, free text)
						p 
							strong.highlight Mgmt
							| : SQLite, PostgreSQL(+PostGIS), Oracle, Microsoft SQL Server, MongoDB
						p
							strong.highlight Analytics
							| : R, Python, Stata, GeoDa, SAS
						p
							strong.highlight Visualizations
							| : D3.js, R Shiny Apps + Plotly + Leaflet, Tableau, PowerBI
			.col-md-4.col-xs-12
				.bin.m-0.p-0.h-100
					.bin-header Development
					.bin-body
						p 	
							strong.highlight Architecture
							| : client-server (RESTful API), pipline, database-centric, event-driven
						p 	
							strong.highlight Environment
							| : package/library mgmt (npm, pip, conda, R), version control (git, GitHub, Bitbucket, GitLab) 
	.container#work
		h2.mt-5.mb-5.p-1 Work
		ul.list-simple
			li 
				strong.mb-1 August 2020 - Present
				p.mt-1
					i.highlight Senior GIScientist
					|  at 
					a.link(href='http://www.statcan.gc.ca/' target='_blank') Statistics Canada
			li 
				strong.mb-1 January 2018 - August 2020
				p.mt-1
					i.highlight Senior GIScientist
					|  at 
					a.link(href='https://www.canada.ca/en/employment-social-development.html' target='_blank') Employment and Social Development Canada
				p Supported evidence-based decision making through the following: researched and devised advanced geospatial techniques (e.g., calculating spatial accessibility for identifying underserved areas); designed and developed software and web apps to host statistical, analytical, and machine learning models; and, educated internally and externally on how to leverage geographic data with open source tools (FOSS4G).
				ul
					li Cleaned, analyzed, and visualized spatially-referenced survey, crowdsourced and administrative big data in R and Python (e.g., spatial accessibility index calculations for services/programs).
					li Designed and developed web apps (full stack) with Node.js or Python for pushing machine learning models into production.
					li Initialized and managed SQL and noSQL databases.
					li Developed interactive visualizations with D3.js or R for sharing research results to inform policymakers.
					li Managed product development. For example, led the design, development and implementation of an open source technology, 
						a.link(href='https://github.com/DSD-ESDC-EDSC/pass') PASS
						| .
					li Prepared, wrote and presented presentation decks, briefing notes, and reports to upper management, with a twist (e.g., generate GIFs to demo apps, simple HTML web page as PowerPoint alternative)
			li 
				strong.mb-1 July - December 2017
				p.mt-1
					i.highlight Data Intern
					|  at 
					a.link(href='https://www.mapbox.com/' target='_blank') Mapbox
				ul
					li Remote mapped on OpenStreetMap (OSM) with JOSM and iD Editor.
					li Developed Node.js based validators to assess the quality of OSM data.
					li Developed data visualizations from OSM data and administrative data with Mapbox GL JS and React (e.g., 
						a.link(href='http://localhost:3000/docs/doc-2' target='_blank') Crimecouver
						|  and 
						a.link(href='https://noznoc.github.io/bc2020-osmgeoweek2017/#4/54.32/-99.93' target='_blank') BC2020 Mapathons
						| ).
					li Organized nation-wide multi-stakeholder workshops (e.g., Building Canada 2020) as well as local community events. Check out my 
						a.link(href='https://blog.mapbox.com/osmgeoweek-mapathons-support-building-canada-2020-eb0ca4edf8fe' target='_blank') post
						|  on Mapbox's "Points of Interest" blog.
					li Taught English through running daily lessons to learn reading and writing, as well as immersive activities to improve listening and speaking.
			li 
				strong.mb-1 February - June 2017
				p.mt-1
					i.highlight Contracted Geographic Information Systems Technician
					|  at 
					a.link(href='http://www.statcan.gc.ca/' target='_blank') Statistics Canada
				ul
					li Communicated and maintained engagement with stakeholders for 
						a.link(href='https://www.statcan.gc.ca/eng/open-building-data/crowdsourcing-osm' target='_blank') Statistics Canada first crowdsourcing project.
					li Collected, managed, monitored, analyzed and visualized large administative and crowdsourced spatial datasets with R and Python.
					li Researched and designed a mobiled crowdsourcing web app as well as a method to quality assure crowdsourced building footprint data.
					li Developed a spatial server with PostGIS and Node.js for quality assurance adn web mapping services. Code can be seen on the 
						a.link(href='https://github.com/Noznoc/geojson-api' target='_blank') GitHub repo
						| .
					li Advised internal stakeholders on open data licensing and open source software. 
			li 
				strong.mb-1 August 2016 - June 2017
				p.mt-1
					i.highlight Freelance Open Data Consultant & Full-Stack Web Developer
				p To increase transparency on where and what different resource extraction companies are paying organizations across Canada, I was tasked to develop a real-time interactive map dashboard for 
					a.link(href='https://www.opennorth.ca/' target='_blank') Open North
					|  and 
					a.link(href='https://www.pwyp.ca/' target='_blank') Publish What You Pay Canada
					| . To accomplish this, I collected and managed a database of payments to government organizations from extraction companies; and, with the data, designed and developed an interactive Mapbox.js map and D3.js dashboard web app. Check out the code on the 
					a.link(href='http://github.com/Noznoc/i-vop' target='_blank') GitHub repo
					| .
				p To increase the adoption of open data standards and to ultimately improve interoperabiltiy across different civic datasets, I was tasked to develop a website for 
					a.link(href='https://govex.jhu.edu/' target='_blank') Johns Hopkins University’s Center for Government Excellence
					| . I designed and developed the user interface, managed data with a PostgreSQL database, and developed a Node.js web app hosted on Heroku. Check out the  
					a.link(href='http://datastandards.directory/' target='_blank') website
					| .
			li 
				strong.mb-1 May - August 2016
				p.mt-1
					i.highlight Research Assistant
					|  at 
					a.link(href='http://geothink.ca/' target='_blank') Geothink			
				p Research assistant for Geothink’s Civic Open Data Standards project. I (1) assessed Canadian municipal datasets and open data portals; (2) designed and developed a web app to host a catalog of open data standards; and (3) designed, conducted, and transcribed semi-structured telephone surveys. Code can be seen on the 
					a.link(href='https://github.com/Noznoc/open-data-standards' target='_blank') GitHub repo
					| .
	.container#education
		h2.mt-5.mb-5.p-1 Education
		ul.list-simple
			li
				p.mb-1 2020 - 2022
				i.highlight Master of Science
				|  at Carleton University
				p Department of Geography and Environment Studies, with a specialization in Data Science
				p Community-based Geomatics 
			li
				p.mb-1 2012 - 2016
				i.highlight Bachelor of Arts
				|  at McGill University (Graduated with Distinction)
				
				p 
					strong Major
					| : Geography; 
					strong Minors
					| : Geographic Information Systems, Remote Sensing, Anthropology
				p 
					strong Activities
					| : Big Buddies Tutoring (2015); Drive Safe (2013); 
					a.link(href='https://publications.mcgill.ca/reporter/2012/09/conzon-to-the-rescue-as-no-5-ranked-soccer-martlets-knocks-no-1-carabins-off-lofty-perch/', target='_blank') McGill Varsity Soccer Team (2012-2013)
					| ; Maptime MTL (2015-2016)
				p 
					strong Projects
					| :
				ul 
					li With Python, mined thousands of georeferenced tweets and then managed, analyzed, and visualized the spatial and temporal 
					li Developed a front-end JavaScript web app that automatically crowdsourced, geocoded, and visualized spatially-referenced data
					li Developed a web app that automatically scraped, standardized, and mapped Kijiji real-estate postings
					li Designed an online survey, coded the data, and then spatially predicted where new dumpsters should be located in Montreal
					li Ran a cost distance analysis that identified a new hiking path in North Vancouver

	script.
		$('.button').on('click', function () {
			var name = $(this).attr('name');
			$('html, body').animate({
			    scrollTop: $('#' + name).offset().top - $('#navbar').height()
			}, 1000);
		})
