extends layout.pug
block content
	.container(style='border:none;')
		h1.title Hello, my name is Julia Conzon
		.row.justify-content-center
			.col-md-12.col-xs-12.col-xl-5.col-sm-12.col-lg-5.col-12
				img.view(src='../images/IMG_8369.jpg' alt='Image of Julia Conzon')
			.col-md-12.col-xs-12.col-xl-7.col-sm-12.col-lg-7.col-12
				p.pt-0.mt-3 Raised in the mountains of North Vancouver and the British Columbian Kootenays, I was taught at a young age to observe my surroundings. I learned to recognize the complex interconnections between society and the environment and seek new perspectives to better understand it. Working and engaging with partners across government, academic, private, and non-profit sectors, I have continuously sought to better conceptualize place and space through co-producing user-focused (and communinty-led) geographic information systems. I’ve contributed to disaster mapping events, trained hunters on how to use GPS devices for monitoring, built models of spatial accessibility, and led a community crowdsourcing program across Canada. I believe the utility of technology extends only to the limits of its accessibility, so I always aim to design and develop products and services through a critical and equity-focused lens.
			p.col-12.pt-4.pb-4.text-center
				button.button.m-2(name='experience') experience
				button.button.m-2(name='skills') technical skills
				button.button.m-2(name='education') education
				button.button.m-2(name='leadership') leadership				
				button.button.m-2(name='awards') awards
	.container#experience
		h2.mt-4.mb-4.p-1 Experience
		ul.list-simple
			li 
				span.highlight GIS Program Manager
				p.sub May 2022 - Present · GIS Team, Firelight Group · Remote
				p Managing community-based GIS projects and programs at the Firelight Group, an Indigenous-owned consulting group that works with Indigenous and local communities in Canada and beyond to provide high quality research, policy, planning, mapping, negotiation, and advisory services.
			li 
				span.highlight Senior GIScientist
				p.sub August 2020 - May 2022 · Data Exploration and Integration Lab, Statistics Canada · Ottawa
				p Senior GIScientist at Statistics Canada's Data Exploration and Integration Lab. Lead projects that apply alternative methods for passive and active data collection (e.g., computer vision, image processing, crowdsourcing) and dissemination of geographic information and services. For example, I am leading the 
							a.link(href='https://www150.statcan.gc.ca/n1/pub/71-607-x/71-607-x2020014-eng.htm' target='_blank') Linkable Open Data Environment (LODE) Viewer
							| .
			li 
				span.highlight Research Assistant (Part-Time)
				p.sub August 2021 - Present · Geomatics and Cartographic Research Centre, Carleton University · Remote
				p Co-developed custom web-based mapping applications for Clyde River Knowledge Atlas. Contributed to training and the implementation of a monitoring system for land-based programs in Clyde River, Nunavut.
			li 
				span.highlight Lead GIS Developer (On-Call)
				p.sub June 2021 - March 2022 · Nauttiqsuqtiit Research and Monitoring Project · Remote
				p Co-developed a participatory mapping platform with open source software (Nunaliit SDK) to collect geographic information for conservation priorities in parts of the Canadian Arctic. Facilitated collection with participating communities and developed static maps in QGIS for reports.
			li 
				span.highlight Senior GIScientist
				p.sub January 2018 - August 2020 · Data Science Division, Employment and Social Development Canada · Gatineau
				p Supported evidence-based decision making through the following: researched and devised advanced geospatial techniques (e.g., calculating spatial accessibility for identifying underserved areas); designed and developed software and web apps to host statistical, analytical, and machine learning models; and, educated internally and externally on how to leverage geographic data with open source tools (FOSS4G).
				ul
					li Cleaned, analyzed, and visualized spatially-referenced survey, crowdsourced and administrative big data in R and Python (e.g., spatial accessibility index calculations for services/programs).
					li Designed and developed web apps (full stack) with Node.js or Python for pushing machine learning models into production.
					li Initialized and managed SQL and noSQL databases.
					li Developed interactive visualizations with D3.js or R for sharing research results to inform policymakers.
					li Managed product development. For example, led the design, development and implementation of an open source technology, 
						a.link(href='https://github.com/DSD-ESDC-EDSC/pass') PASS
						| .
					li Prepared, wrote and presented presentation decks, briefing notes, and reports to upper management, with a twist (e.g., generate GIFs to demo apps, simple HTML web page as PowerPoint alternative).
			li 
				span.highlight Intern (Contract)	
				p.sub July - December 2017 · Data Team, Mapbox · Ayacucho, Peru
				ul
					li Remote mapped on OpenStreetMap (OSM) with JOSM and iD Editor.
					li Developed Node.js based validators to assess the quality of OSM data.
					li Developed data visualizations from OSM data and administrative data with Mapbox GL JS and React (e.g., 
						a.link(href='http://localhost:3000/docs/doc-2' target='_blank') Crimecouver
						|  and 
						a.link(href='https://noznoc.github.io/bc2020-osmgeoweek2017/#4/54.32/-99.93' target='_blank') BC2020 Mapathons
						| ).
					li Organized nation-wide multi-stakeholder workshops (e.g., Building Canada 2020) as well as local community events. Check out my 
						a.link(href='https://blog.mapbox.com/osmgeoweek-mapathons-support-building-canada-2020-eb0ca4edf8fe' target='_blank') post
						|  on Mapbox's "Points of Interest" blog.
					li Taught English through running daily lessons to learn reading and writing, as well as immersive activities to improve listening and speaking.
			li 
				span.highlight Geographic Information Systems Technician (Contract)
				p.sub February - June 2017 · Data Exploration and Integration Lab, Statistics Canada · Ottawa
				ul
					li Communicated and maintained engagement with stakeholders for 
						a.link(href='https://www.statcan.gc.ca/eng/open-building-data/crowdsourcing-osm' target='_blank') Statistics Canada first crowdsourcing project.
					li Collected, managed, monitored, analyzed and visualized large administative and crowdsourced spatial datasets with R and Python.
					li Researched and designed a mobiled crowdsourcing web app as well as a method to quality assure crowdsourced building footprint data.
					li Developed a spatial server with PostGIS and Node.js for quality assurance adn web mapping services. Code can be seen on the 
						a.link(href='https://github.com/Noznoc/geojson-api' target='_blank') GitHub repo
						| .
					li Advised internal stakeholders on open data licensing and open source software. 
			li 
				span.highlight Full-Stack Web Developer
				p.sub August 2016 - June 2017 · Freelance · Remote
				p To increase transparency on where and what different resource extraction companies are paying organizations across Canada, I was tasked to develop a real-time interactive map dashboard for 
					a.link(href='https://www.opennorth.ca/' target='_blank') Open North
					|  and 
					a.link(href='https://www.pwyp.ca/' target='_blank') Publish What You Pay Canada
					| . To accomplish this, I collected and managed a database of payments to government organizations from extraction companies; and, with the data, designed and developed an interactive Mapbox.js map and D3.js dashboard web app. Check out the code on the 
					a.link(href='http://github.com/Noznoc/i-vop' target='_blank') GitHub repo
					| .
				p To increase the adoption of open data standards and to ultimately improve interoperabiltiy across different civic datasets, I was tasked to develop a website for 
					a.link(href='https://govex.jhu.edu/' target='_blank') Johns Hopkins University’s Center for Government Excellence
					| . I designed and developed the user interface, managed data with a PostgreSQL database, and developed a Node.js web app hosted on Heroku. Check out the  
					a.link(href='http://datastandards.directory/' target='_blank') website
					| .
			li 
				span.highlight Research Assistant
				p.sub May - August 2016 · Geothink, McGill University · Montreal
				p Research assistant for Geothink’s Civic Open Data Standards project. I (1) assessed Canadian municipal datasets and open data portals; (2) designed and developed a web app to host a catalog of open data standards; and (3) designed, conducted, and transcribed semi-structured telephone surveys. Code can be seen on the 
					a.link(href='https://github.com/Noznoc/open-data-standards' target='_blank') GitHub repo
					| .
			li 
				span.highlight Customer Relations Agent
				p.sub Summer 2015 · West Coast Reduction Ltd · Vancouver
				p Responsible for customer service and invoice payments.
			li 
				span.highlight Operations Agent
				p.sub Summer 2012 & 2013 · Nintendo of Canada · Vancouver
				p Processed dealer returns, outbound marketing shipments, and inventory reconciliations.

	.container#skills
		h2.mt-4.mb-4.p-1 Technical Skills
		.row.mb-1
			.col-md-4.col-xs-12
				.bin.m-0.p-0.h-100
					.bin-header Design
					.bin-body
						p CSS, SASS, and frameworks (Bootstrap, Materialize, Materialize Design Boostrap)
			.col-md-4.col-xs-12
				.bin.m-0.p-0.h-100
					.bin-header Front-end Dev
					.bin-body
						p JavaScript, jQuery, HTML, React, and templating (Pug, Jinja)
			.col-md-4.col-xs-12
				.bin.m-0.p-0.h-100
					.bin-header Back-end Dev
					.bin-body
						p Node.js + Express, Python + Flask
		.row
			.col-md-4.col-xs-12
				.bin.m-0.p-0.h-100
					.bin-header GIS & Remote Sensing
					.bin-body
						p 
							strong.highlight Data
							| : ESRI Shapefiles, OSM XML/PBF, GeoJSON, WKT, WKB, GeoTIFF, satellite imagery (Landsat, Sentinel-2), KML, GPX
						p 
							strong.highlight Processing and analysis
							| : QGIS, OpenStreetMap (iD, JOSM), GDAL, PostGIS, ESRI products (e.g., ArcMap, ArcPro, ArcOnline), GeoServer, Valhalla, OpenRouteServices, other open-source geospatial libraries/software (e.g., R and Python packages like rgdal, rasterio, keras, and geopandas)
						p 
							strong.highlight Web mapping
							| : Mapbox GL JS, Leaflet (R, Folium, or JS), Google Maps API, OpenLayers, D3.js, OGC WMS/WFS/WPS
			.col-md-4.col-xs-12
				.bin.m-0.p-0.h-100
					.bin-header Data Science
					.bin-body
						p
							strong.highlight  Data
							| : JSON, GeoJSON, CSV, Grids, Multi-Dimensional Matrices / Data Cubes, sas7bdat, unstructured text (tweets, free text)
						p 
							strong.highlight Storage
							| : SQLite, PostgreSQL(+PostGIS), Oracle, Microsoft SQL Server, MongoDB
						p
							strong.highlight Analytics & Machine Learning
							| : R, Python (e.g., Keras, TensorFlow), Stata, GeoDa, SAS
						p
							strong.highlight Visualizations
							| : D3.js, R Shiny Apps, Plotly, Tableau, PowerBI
			.col-md-4.col-xs-12
				.bin.m-0.p-0.h-100
					.bin-header Development
					.bin-body
						p 	
							strong.highlight Architecture
							| : client-server (RESTful API), pipline, database-centric, event-driven
						p 	
							strong.highlight Environment
							| : package/library mgmt (npm, pip, conda, R), version control (git, GitHub, Bitbucket, GitLab) 
	.container#education
		h2.mt-4.mb-4.p-1 Education
		ul.list-simple
			li
				span.highlight Master of Science - Data Science Specialization
				p.sub 2020 - 2022 · Department of Geography and Environmental Studies, Carleton University · Ottawa
				p Thesis on critical Geomatics, co-developing web-based geovisualizations and supporting a community-led monitoring program
				p
					strong Course Project
					| :
				ul
					li Developed Convolutional Neural Network binary classifier to predict if images of building exterior pathways are "accessible" or "inaccessible" for those dependent on wheeled mobility devices. Used class activation mapping to better interpret model predictions. The scripts and model architecture are available on 
						a.link(hreg='https://github.com/Noznoc/access-classifier', target='_blank') GitHub.
			li
				span.highlight Bachelor of Arts (Graduated with Distinction)
				p.sub 2012 - 2016 · Department of Geography, McGill University · Montreal
				p Majored in Geography, minored in Geographic Information Systems, Remote Sensing, and Anthropology
				p 
					strong Course Projects
					| :
				ul 
					li With Python, mined thousands of georeferenced tweets and then managed, analyzed, and visualized the spatial and temporal.
					li Developed a web app that automatically crowdsourced, geocoded, and visualized spatially-referenced data.
					li Developed a web app that automatically scraped, standardized, and mapped Kijiji real-estate postings.
					li Designed an online survey, coded the data, and then spatially predicted where new dumpsters should be located in Montreal.
					li Evaluated deforestation by calculating Normalized Difference Vegetation Index on time-series imagery.
					li Ran a cost distance analysis in ArcMap to identify a new hiking path in North Vancouver.
	.container#leadership
		h2.mt-4.mb-4.p-1 Leadership
		ul.list-simple
			li
				span.highlight GIS Developer & Advisor
				p.sub 2020 - 2021 · Ecology Ottawa · Ottawa
				p For the Breathe Easy Campaign, published interactive web map to visualize air quality data collected for a citizen science project. Advised on spatial sampling techniques to better represent variance across Ottawa.
			li
				span.highlight GIS Analyst
				p.sub 2016 · African Fisheries Climate Change PhD Thesis Project, McGill University · Montreal
				p Assessed the exposure of commercially harvested African freshwater fish species to climate change by developing predictive climate models with historical precipitation and temperature data. Collected and managed large vector and raster datasets with PHP and with Python in ArcMap.
			li
				span.highlight Coordinator
				p.sub 2016 · Maptime MTL · Montreal
				p Organized workshops on open web maps, OpenStreetMap and humanitarian armchair mapping.
			li
				span.highlight History, Science & Math Tutor
				p.sub 2012 - 2014 · Big Buddies Tutoring, McGill University · Montreal
				p Tutored disadvantaged youth at Programme Mile End.
			li
				span.highlight Varisty Athlete
				p.sub 2012 - 2014 · Women’s Soccer Team, McGill University · Montreal
				p Won award for maintaining a high GPA (2014) and Second Team All-Star (2013).
			li
				span.highlight Volunteer Youth Leader
				p.sub 2012 · Boys & Girls Club · North Vancouver
				p Helped run summer programs for youth.
	.container#awards
		h2.mt-4.mb-4.p-1 Awards
		ul.list-simple
			li
				span.highlight Carleton University Department of Geography and Environmental Studies Auto-Carto Six Scholarship
				p.sub March 2022
			li
				span.highlight Employment and Social Development Canada Deputy Minister Award of Excellence
				p.sub December 2021
			li
				span.highlight Canadian Cartographic Association Best Student Presentation
				p.sub October 2021
			li
				span.highlight Carleton University Data Day Poster Fair Winner
				p.sub March 2021
			li
				span.highlight Dean of Graduate Studies Entrance Scholarship for Domestic Students				
				p.sub 2020-2021
			li
				span.highlight Duncan M. Anderson Graduate Scholarships in Geography & Environmental Studies
				p.sub 2020-2021
			li
				span.highlight Carleton Graduate Scholarship
				p.sub 2020-2021
			li
				span.highlight Employment and Social Development Canada Assistant Deputy Minister Award for Excellence in Innovation
				p.sub December 2019
			li
				span.highlight Employment and Social Development Canada Deputy Minister Award for Excellence in Innovation
				p.sub 2019

				
	script.
		$('.button').on('click', function () {
			var name = $(this).attr('name');
			$('html, body').animate({
			    scrollTop: $('#' + name).offset().top - $('#navbar').height()
			}, 1000);
		})
