extends blog.pug
block content
	p Below is a visualization I created to show what I did during my vacation in the Cusco region. You can view a full-screen version of the visualization 
		a.link(href='https://noznoc.github.io/salkantay-trek/#9.41/-13.3156/-72.7022' target='_blank') here
		| !
	.post-map-container
		#post-map.map
		.post-map-legend
			i#backward.fa.fa-arrow-circle-o-left.icon.map-button(aria-hidden='true')
			i#forward.fa.fa-arrow-circle-o-right.icon.map-button(aria-hidden='true')
			p From October 6-7, 2017, I traveled from Ayacucho to Cusco where I met my friend to trek the Salkantay Trail to Machu Picchu! Check out the story map below to see our Cusco region adventure from October 7-15!
			video.image-round.image(src='/images/day0_0.mp4' autoplay)
	script(type='text/javascript' src='../javascripts/salkantay.js')
	script.
		salkantay();