h2.header Web Site Design & Development
	h3 August 1, 2017
	h3.link.hide-show
		a
			i.fa.fa-plus-circle   
		| Read
	.blog-text
		p I knew I could create a site with already existing design templates (e.g., Bootstrap) and development templates (e.g., WordPress), but I wanted to make my site unique. I designed my site using SASS because I prefer nesting over including '{' or ':'. I developed the site with Node.js and Express, but mostly JavaScript. Node.js and Express will be utilized more if I include a Postgres + PostGIS database, which is my plan at some point.
		p - Julia Conzon

