extends layout.pug
block content
	- if (page == 'blog')
		h2.title All writing is my own opinion
		.container#blog-5
			include blog-5.pug
			.clipboard.icon.button-xsmall(data-clipboard-text='www.juliaconzon.com/blog/blog-5', title='Click to copy to clipboard')
				i.fa.fa-link(aria-hidden='true')
		.container#blog-4
			include blog-4.pug
			.clipboard.icon.button-xsmall(data-clipboard-text='www.juliaconzon.com/blog/blog-4', title='Click to copy to clipboard')
				i.fa.fa-link(aria-hidden='true')
		.container#blog-3
			include blog-3.pug
			.clipboard.icon.button-xsmall(data-clipboard-text='www.juliaconzon.com/blog/blog-3', title='Click to copy to clipboard')
				i.fa.fa-link(aria-hidden='true')
		.container#blog-2
			include blog-2.pug
			.clipboard.icon.button-xsmall(data-clipboard-text='www.juliaconzon.com/blog/blog-2', title='Click to copy to clipboard')
				i.fa.fa-link(aria-hidden='true')
		.container#blog-1
			include blog-1.pug
			.clipboard.icon.button-xsmall(data-clipboard-text='www.juliaconzon.com/blog/blog-1', title='Click to copy to clipboard')
				i.fa.fa-link(aria-hidden='true')
		.container

	- if (page == 'blog-5')
		.container#blog-5
			include blog-5.pug
			.clipboard.icon.button-xsmall(data-clipboard-text='www.juliaconzon.com/blog/blog-5', title='Click to copy to clipboard')
				i.fa.fa-link(aria-hidden='true')
		.container

	- if (page == 'blog-4')
		.container#blog-4
			include blog-4.pug
			.clipboard.icon.button-xsmall(data-clipboard-text='www.juliaconzon.com/blog/blog-4', title='Click to copy to clipboard')
				i.fa.fa-link(aria-hidden='true')
		.container

	- if (page == 'blog-3')
		.container#blog-3
			include blog-3.pug
			.clipboard.icon.button-xsmall(data-clipboard-text='www.juliaconzon.com/blog/blog-3', title='Click to copy to clipboard')
				i.fa.fa-link(aria-hidden='true')
		.container

	- if (page == 'blog-2')
		.container#blog-2
			include blog-2.pug
			.clipboard.icon.button-xsmall(data-clipboard-text='www.juliaconzon.com/blog/blog-2', title='Click to copy to clipboard')
				i.fa.fa-link(aria-hidden='true')
		.container

	- if (page == 'blog-1')
		.container#blog-1
			include blog-1.pug
			.clipboard.icon.button-xsmall(data-clipboard-text='www.juliaconzon.com/blog/blog-1', title='Click to copy to clipboard')
				i.fa.fa-link(aria-hidden='true')
		.container

	script.
		var coordinates = [[[-125.8855, 49.1304], "Tofino"], [[-123.112920, 49.250319], "Vancouver"], [[-122.9543317, 50.1171525], "Whistler"], [[-119.4543, 49.8995], "Kelowna"], [[-120.3442380, 50.6773160], "Kamloops"], [[-119.4523, 49.0333], "Osoyoos"], [[-73.585429, 45.510820], "Montreal"], [[-75.698078, 45.417133], "Ottawa"], [[-74.2198126, -13.1556384], "Ayacucho"], [[-74.1246123, -13.7419442], "Huancaraylla"], [[144.974227, -37.785981], "Melbourne"], [[151.163816, -33.861873], "Sydney"], [[145.7646157, -16.9231207], "Cairns"], [[1.073704, 49.922974], "Dieppe"], [[7.261859, 43.705772], "Nice"], [[2.3899, 48.8585], "Paris"], [[121.608135, 23.986542], "Hualien"], [[121.5383, 25.0496], "Taipei"], [[-112.0097, 33.5546], "Phoenix"], [[6.7763, 51.2257], "Dusseldorf"], [[6.7593, 51.4356], "Duisburg"], [[11.9916, 57.7020], "Gothenburg"], [[4.3516970, 50.8465573], "Brussels"], [[12.5381, 55.7105], "Coppenhagen"], [[-0.0865, 51.4891], "London"], [[-1.2404, 51.7538], "Oxford"], [[-81.2444, 23.1568], "Varadero"], [[-82.3666, 23.1378], "Havana"], [[-155.9991, 19.6402], "Kailua-Kona"], [[-159.5407, 22.0532], "Princeville"]];
		addMap([-99.3822538, 51.197122], 0, 2, 4, coordinates);
		$('#legend').find('h4').html('PLACES I HAVE TRAVELED <br> Pan to view or click play <br> <i id="play-circle" class="fa fa-play-circle icon" aria-hidden="true"></i>');
