extends blog.pug
block content
	img.image(src='/images/blog7-3.jpg')
	p I went to Quinua, which is about a 1hr bus ride from Ayacucho. The 3-5 PEN bus ride drove along the river, past farmlands that used to be inhabited by the Wari in 500-1000. The clouds were beauitful and the landscape was dominated by runoff erosion.
	img.image.image-square(src='/images/blog7-4.jpg')
	img.image.image-square(src='/images/blog7-8.jpg')
	p When my colleague and I arrived at Quinua we stopped in the market and had Puca. I'd say Puca is one of my favourite dishes so far, but I have also been enjoying a dish with potatoes and a mystery yellow sauce (I am still trying to figure out what the name of the sauce). My plan is to learn how to cook Puca and this mystery sauce before I leave. 
	p After lunch, we walked to the obelisk that symbolizes the Battle of Ayacucho (1824), which was the battle that granted Peru independence from Spain, and ensured South Amerian independence. On our walk we stopped through several little tourist markets. Quinua's economy certainly felt like it was reliant somewhat on tourism. You had to walk about 15 minutes up a mountain to reach a flat plateau where the obelisk was. It was eerie seeing the white obelisk contrast with the dry grass and the grey rolling clouds. The view of the river valley from this point was mesmerizing.
	img.image.image-square(src='/images/blog7-0.jpg')
	img.image.image-square(src='/images/blog7-1.jpg')
	p After taking some photoes, and walking through the market one last time to buy some snacks, we grabbed a taxi to the Wari archeaological site. The site was 3 PEN and we got to walk around ancient Wari grounds. Lots of the area was closed off to the public, but I was able to see lots of pear cactus fruits, various wild flowers, large spiders, and most importantly some ancient ruins. There were no labels, but I definitely saw old houses, spirital grounds, and either a cemetery or storage. Before and after touring the sites, my colleague and I had pear cactus fruit (Peruvians call it tuna). The fruit is delicious, it is a sweeter version of watermelon with more seeds. I brought some home to eat.
	img.image(src='/images/blog7-2.jpg')

