extends blog.pug
block content
	img.image(src='/images/blog8-0.jpg')
	p After a 1 hour bus ride north from Ayacucho, my colleagues and I arrived in Huanta. Huanta is smaller than Ayacucho, but they share very similar features, such as a central park and a Catholic symbol overwatching the town. What makes Huanta different is that the town receives more rain, so there is more vegetation present, notably more trees. Also, with more rain, there is more local agriculture than in Ayacucho. Huanta is known for its produce sold in the town market. I unfortunately did not get to see the market, but apparently the avocados are good because they are produced locally. 
	img.image.image-square(src='/images/blog8-1.jpg')
	img.image.image-square(src='/images/blog8-2.jpg')
	p Instead of touring the city, we went to see the giant Jesus statue that overlooks the town. We took a 30 minute motor taxi up to see it. Although the dirt road to the look out was very bumpy and winding, I passed out... I guess I was tired from the night before. When we got to the top we took several photos with the statue and admired the view of Huanta. The mountains in the background stood tall, but they were difficult to see because there was a fog clouding their view. The fog almost looked like pollution, but I doubt it was because there aren't any factories in the area. 
	img.image.image-square(src='/images/blog8-3.jpg')
	img.image.image-square(src='/images/blog8-4.jpg')
	img.image(src='/images/blog8-5.jpg')
	p After deciding our next site would be a nearby waterfall, we grabbed some ice cream from a man who was selling it in a styrofoam container. The man assured us the walk to the waterfall was only 15 minutes. We wandered around the mountain face trying to find the waterfall, but we were misdirected by several different children. We ended up wandering up and down the mountain face, but it was a fun adventure. I got to squish some bugs that squirt out a dark red dye. This dye is used for colouring clothes! We also walked through several farms, so I got to admire all the animals and vegetation growing. 
	img.image(src='/images/blog8-6.jpg')
	p Finally, after an hour we found the waterfall! Some people were washing their clothes in the river, teenagers were swimming in the water, and tourists were taking photos by the waterfall. There were some stray dogs taking advantage of all the local activity. 
	img.image.image-square(src='/images/blog8-9.jpg')
	img.image.image-square(src='/images/blog8-8.jpg')
	p Once we took some photos and admired the nature, we decided to head to a restaurant to eat, we were all very hungry from our adventure. We had to walk a bit to get to a main road to grab a motor taxi. We drove for about 20 minutes outside of Huanta. Here the town was less dense, with locals owning larger plots of land. We went to a restaurant that is basically in someone's backyard. In the backyard, you could play soccer or volleyball, play on a little playground, or, in our case, you could eat/drink under a garden of avocado trees. The lunch was lovely, I ordered grilled chicken (they did not have any Puca :( ). While eating I was bitten several times by bugs... 
	p After lunch we headed home... It was already 5:00pm, we were exhausted from the sun. 



