.blog-post
	h2.header Ayacucho Market & Zoo
		h3 August 20, 2017
		h3.link.hide-show
			a
				i.fa.fa-plus-circle   
			| Read
		.blog-text
			img.image(src='/images/blog5-0.jpg')
			p Today at 7:00 am I went to a large market in Ayacucho with my colleague and her mother and father. Before exploring the market, I a juice at the market's juice bar. At every market I have been to so far, there is a juice bar. My juice had a raw egg, canned milk (that's how milk is contained here), and various fruits.
			p After we had our juice, we walked around the market. There were so many different vegetables, fruits, and meats! Something to point out, pumpkins are small here, but squashes are HUGE! Also, there are so many different types of potatoes. To be honest, they look the same to me, but my colleague explained they are all very different and need to be cooked separetly! It still blows my mind how much produce there was, I wonder if it gets all consumed. 
			img.image(src='/images/blog5-1.jpg')
			img.image(src='/images/blog5-2.jpg')
			img.image(src='/images/blog5-3.jpg')
			img.image(src='/images/blog5-4.jpg')
			p After the market, my colleague took me to her home. Her mother makes and sells embroidered clothing, so I got to see where she works and stores her products. The clothing is very beautiful. Here is me trying on one of the hats! I am definitely bringing home a pillow case, they are beautiful and colourful. Let me know if there is something you want!
			img.image(src='/images/blog5-5.jpg')
			img.image(src='/images/blog5-6.jpg')
			p After hanging with my colleague, I went with another colleague to the AYP zoo! The zoo is along the river bank, so it is on an incline. The animals were in very small cages, which was a little sad, but you could feed the monkeys and birds. Most of the animals were sleeping unfortunately, so I didn't get to see many of the animals native to Peru. Nonetheless, it was overall a great day!
			p - Julia Conzon

