extends blog.pug
block content
	
	.post-map-container
		#post-map.map
		.post-map-legend
			i#backward.fa.fa-arrow-circle-o-left.icon.map-button(aria-hidden='true')
			i#forward.fa.fa-arrow-circle-o-right.icon.map-button(aria-hidden='true')
			p From October 6-7, 2017, I traveled from Ayacucho to Cusco where I met my friend to trek the Salkantay Trail to Machu Picchu! Check out the story map below to see our Cusco region adventure from October 7-15!
			video.image-round.image(src='/images/day0_0.mp4' autoplay)

	script.
		salkantay();