.blog-post
	h2.header A Little Walk
		h3 August 26, 2017
		h3.link.hide-show
			a
				i.fa.fa-plus-circle   
			| Read
		.blog-text
			img.image.image-square(src='/images/blog6-6.jpg')
			img.image.image-square(src='/images/blog6-5.jpg')
			p I went for lunch with one of my colleagues. We went to a restaurant that had a beautiful view of the river (the resaurant was on the river bank). I ordered Puca, which is a traditional Ayacucho meal. Puca is pretty much potatoes, some pork, rice, and pickled vegetables. It is considered their spicy dish, but it isn't spicy at all. My colleague ordered guinea pig, so I tried a bite of it. To my surprise, guinea pig is actually one of the more expensive dishes in Ayacucho. I believe it is because many people see the guinea pig as nutritional. I tried a bite, it tasted like meat, there isn't much to eat though... it is a small animal. I also really enjoy these salted popcorn appetizers, it is their equivalent to peanuts. So delicious, I like the salt and crunch it has.
			p I went for lunch with one of my colleagues. We went to a restaurant that had a beautiful view of the river (the resaurant was on the river bank). I ordered Puca, which is a traditional Ayacucho meal. Puca is pretty much potatoes, some pork, rice, and pickled vegetables. It is considered their spicy dish, but it isn't spicy at all. My colleague ordered guinea pig, so I tried a bite of it. To my surprise, guinea pig is actually one of the more expensive dishes in Ayacucho. I believe it is because many people see the guinea pig as nutritional. I tried a bite, it tasted like meat, there isn't much to eat though... it is a small animal. I also really enjoy these salted popcorn appetizers, it is their equivalent to peanuts. So delicious, I like the salt and crunch it has.
			img.image.image-square(src='/images/blog6-1.jpg')
			img.image.image-square(src='/images/blog6-2.jpg')
			p After lunch, we walked to a park that is called the Flag park; however, there were no flags... There was a giant statue of a previous Peruvian president in the middle of the park. I've noticed a pattern in all the parks I have seen here so far: there are giant paths that are directed to the middle of the park where there usually is a monument. I was happy because we got to sit on some grass, which I haven't done yet. There were lots of pretty flowers as well. 
			img.image.image-square(src='/images/blog6-3.jpg')
			img.image.image-square(src='/images/blog6-4.jpg')
