html
	include head.pug

	body

		include header.pug

		.site-content
			.text
				h1.title= title
				p.subtitle= subtitle
				- if (id == 'blog')
					p#buttons
						a(href='/blog/travel')
							button.button.m-2 travel
						a(href='/blog/geo')
							button.button.m-2 geo
				include mixins.pug
				each blog in data
					+post(blog.title, blog.subtitle, blog.date, blog.tags, blog.id, 'blog', id)
				- if (id == 'blog-post')
					.post-links-footer.row.d-flex.justify-content-around.pt-4
						#clipboard.col-5.col-xs-3.button(data-clipboard-text='www.juliaconzon.com/blog/' + data[0].id, data-toggle='tooltip', title='Click to copy and share the post!')
							i.fa.fa-share-square.txt-lrg(aria-hidden='true')
						a.col-5.col-xs-3.button(href='mailto:julia.conzon@gmail.com', data-toggle='tooltip', title='Click to send email to Julia Conzon')
							i.fa.fa-envelope.txt-lrg(aria-hidden='true')
					script.
						openPost();
		include footer.pug
	script.
		addMap([-44.0734353, 48.6259689], 0, 2, 10, '', false, false, 'blog');
		$('#legend').find('h4').html('PLACES I HAVE TRAVELED');
		$('[data-toggle="tooltip"]').tooltip({container: '.post-links-footer'});
		new ClipboardJS('.post-links-footer .button');
		$('#clipboard').on('click', function(){
			$(this).attr('data-original-title', "Copied!").tooltip('show')
		});
		$('#clipboard').on('mouseover', function(){
			$(this).attr('data-original-title', "Click to copy and share the post!").tooltip('show')
		});
