html
	include head.pug

	body

		include header.pug

		.site-content
			.text
				h2.title= title
				p.subtitle= subtitle
				- if (id == 'blog')
					p#buttons
						a(href='/blog/travel')
							button.button.m-2 travel
						a(href='/blog/geo')
							button.button.m-2 geo
				include mixins.pug
				each blog in data
					+post(blog.title, blog.subtitle, blog.date, blog.tags, blog.id, 'blog', id)
				- if (id == 'blog-post')
					.post-links-footer.row.d-flex.justify-content-around.pt-4
						.col-lg-5.button.clipboard(data-clipboard-text='www.juliaconzon.com/blog/' + data[0].id, title='Share')
							i.fa.fa-share-square.txt-lrg(aria-hidden='true')
						a.col-lg-5.button(href='mailto:julia.conzon@gmail.com', title='Contact me')
							i.fa.fa-envelope.txt-lrg(aria-hidden='true')
					script.
						openPost();
		include footer.pug
	script(type='text/javascript' src='../javascripts/sidebar.js')
	script.
		addMap([-44.0734353, 48.6259689], 0, 2, 10, '', false, false, 'blog');
		$('#legend').find('h4').html('PLACES I HAVE TRAVELED');
		new Clipboard('.clipboard');
		$(function() {
			$(document).tooltip();
		});
