html
	include head.pug

	body

		include header.pug

		.site-content
			.text
				h2.title= title
				p.subtitle= subtitle
				- if (id == 'blog')
					p#buttons
						a(href='/blog/travel')
							button.button travel
						a(href='/blog/geo')
							button.button geo
				include mixins.pug
				each blog in data
					+post(blog.title, blog.subtitle, blog.date, blog.tags, blog.id, 'blog', id)
				- if (id == 'blog-post')
					.post-links-footer
						.clipboard.icon(data-clipboard-text='www.juliaconzon.com/blog/' + data[0].id, title='Click to copy to clipboard')
							i.fa.fa-link(aria-hidden='true')
						a.icon(href='mailto:julia.conzon@gmail.com', title='Contact me')
							i.fa.fa-envelope(aria-hidden='true')
					script.
						openPost();
		include footer.pug

	script.
		addMap([-44.0734353, 48.6259689], 0, 2, 10, '', false, false, 'blog');
		$('#legend').find('h4').html('PLACES I HAVE TRAVELED');
		new Clipboard('.clipboard');
		$(function() {
			$(document).tooltip();
		});
