.blog-post
	h2.header First Week in Ayacucho
		h3 July 30, 2017
		h3.link.hide-show
			a
				i.fa.fa-plus-circle   
			| Read
		.blog-text
			p My first week in Ayacucho (AYP), Peru, has been great! My Mapbox colleagues have been welcoming and have been great tour guides.
			p For the next two weeks I will be staying at the ViaVia Hotel near the Plaza de Armas, which is the main tourist site of AYP. The walk to the Mapbox office is about 10-15 minutes.
			img.image.image-wide(src='/images/blog4-0.png')
			p On Thursday, July 27, after work, my colleagues and I played soccer at a small field. I haven't worked out in a while, but I could hardly breathe because of the altitude!
			p There were LOTS of festive activities as July 28th was Peru's Independence Day. On the 28th they had food booths and a large stage set up in the Plaza de Armas to celebrate. Unfortunately, I didn't celebrate too much because I was exhausted from a day trip I did with some Mapbox colleagues.
			p The day trip took ~3 hours to drive from AYP (2,700 m elevation) to the site we wanted to see in Huancarylla District (3,230 m elevation). We drove through winding roads as we had to travel through various mountains, but it reminded me of the times my family and I would drive from Vancouver to Trail, British Columbia, Canada.
			p In the Huancarylla district we went to see where ground water emerges from the top of a mountain and flows down. The river was incredible! There were beautiful swimming pools. Because parts of the bedrock was white, and because it is the dry season, the water was incredibly clear in some parts.
			img.image.image-square(src='/images/blog4-1.jpg')
			img.image.image-square(src='/images/blog4-2.jpg')
			img.image.image-square(src='/images/blog4-3.jpg')
			p Other general observations since moving to AYP:
				ul
					li Peruvian bananas taste different, not as sweet, they are more like a starch.
					li There are so many street dogs and the breeds are so diverse! I have yet to see a street cat though.
					li The food is delicious (and cheap)! A lot of meals are meat based.
					li I thought there wouldn't be ice cream here, but there are SO MANY ice cream stalls, so I am very happy.
					li Cars honk a lot because there aren't many lights to follow. 
					li There are a lot of Catholic churches (33 to be exact).
					li The half moon is horizontal not vertical like it is in the Northern Hemisphere.
			p - Julia Conzon

