.site-content
	.text
		- if (page == 'home')
			h2.header Hello, my name is Julia Conzon
			include summary.jade
			p View the
				strong 
					a.link(href='./work', target='_blank') work
				|  section to see the projects I worked on or the
				strong 
					a.link(href='./about', target='_blank') about
				|  section to see a detail list of my work experience.
			img.image(src='/images/vancouver.png')
			script.
				var coordinates = [[[-123.112920, 49.250319], "<p>Vancouver</p>"], [[-73.585429, 45.510820], "Montreal"], [[-75.698078, 45.417133], "Ottawa"], [[-74.2198126, -13.1556384], "Ayacucho"]];
				addMap([-99.3822538, 51.197122], 0, 3, 8, coordinates);
				$('#legend').find('h4').html('PLACES I HAVE WORKED <br> Pan to view or click play <br> <i id="play-circle" class="fa fa-play-circle icon" aria-hidden="true"></i>');


		- if (page == 'about')
			p#buttons
				button.button(name='about-work') Work Experience
				button.button(name='about-code') Coding Experience
			hr.line
			h2.header Introduction
			include summary.jade
			p For a detailed resume, check out 
				strong
					a.link(href='https://t.co/jMpBYPZXG0', target='_blank') my LinkedIn account
				| .
			p Also, the
				strong 
					a.link(href='./work', target='_blank') work
				|  section details projects I worked on.
			h2#about-work Work Experience
			ul
				li Mapbox (July 2017 - Present)
				p 
					i Data Team 
				li Freelance (November 2016 - Present)
				p
					i Open Data Consultant & Full-Stack Web Developer
				p Front-end web development for Open North and Publish What You Pay Canada. Collected and managed a database of payments to government organizations from resource extraction companies; and, with the data, designed and developed an interactive Mapbox.js map and D3.js dashboard web app
				p Back-end and front-end development for Johns Hopkins University’s Center for Government Excellence. Designed with SASS, managed data with Postgres, and developed a Node.js web app hosted on Heroku that served an open data standards directory
				p Experienced handling various administrative data from various sources
				p Designed and developed UI/UX templates for maps, websites, data portals
				li Statistics Canada (February 2017 - June 2017)
				p 
					i Data Production and Dissemination Officer
					ul
						li Reached out to local communities to engage in contributing OpenStreetMap (OSM) data (i.e., spatial data)
						li Spatially managed and analyzed government business data
						li Researched and designed a mobile crowdsourcing web app 
						li Collected, managed, analyzed, and visualized large spatial (osm/pbf, geoJSON, shp) datasets
						li Developed a spatial server: PostGIS -> Node.js back-end -> geoJSON RESTful API -> web app & map 
						li Advised on open data licensing
						li Developed R code for monitoring, analyzing, and visualizing the OSM data
						li Supported open source code and data, and contributed back via GitHub
						li Researched and developed a methodology to assess the quality of OSM data
						li Collected and managed a Postgres/PostGIS database to assess quality assurance
				p
				li McGill University (May - August 2016)
				p
					i Research Assistant 
				p Research assistant for Geothink’s Civic Open Data Standards project. I (i) assessed Canadian municipal datasets and open data portals; (ii) designed with Bootstrap and developed a JavaScript web app to host a catalog of open data standards; and, (iii) designed, conducted, and transcribed semi-structured telephone surveys
			h2#about-code Coding Experience
			ul
				li 
					strong Database: 
					| SQL, PostgreSQL, PostGIS, ArcGIS gdb
				li strong Back-end: 
					| RESTful API, Node.js, Express, ~PHP, ~Python
				li 
					strong Front-end: 
					| JavaScript, jQuery, HTML
				li 
					strong Design: 
					| CSS, SASS
				li 
					strong Data analytics: 
					| R, D3.js, ~Python, ~Stata, GeoDa, Twitter Streaming API
				li 
					strong Data: 
					| JSON, GeoJSON, shp, (satellite) imagery, raster, csv, vector, KMLs, osm xml, pbf
				li 
					strong GIS: 
					| Esri products (e.g., ArcMap), QGIS, OpenStreetMap, GDAL, Mapbox GL JS, Mapbox JS, Mapbox Studio, Leaflet, PostGIS, Google Maps API, osmosis 
				li 
					strong Online communities: 
					| GitHub, Stack Overflow, GIS Stack Exchange, OpenStreetMap, Twitter
			script.
				var coordinates = [[[-123.112920, 49.250319], "Vancouver"], [[-73.585429, 45.510820], "Montreal"], [[-75.698078, 45.417133], "Ottawa"], [[-74.2198126, -13.1556384], "Ayacucho"]];
				addMap([-99.3822538, 51.197122], 0, 3, 8, coordinates);
				$('#legend').find('h4').html('PLACES I HAVE WORKED <br> Pan to view or click play <br> <i id="play-circle" class="fa fa-play-circle icon" aria-hidden="true"></i>');

		- if (page == 'work')
			h2.title All code is accessible at my 
				a.link(href='https://github.com/Noznoc', target='_blank') 
					|GitHub account Noznoc
				p#buttons
					button.button(name='work-3') StatCan
					button.button(name='work-1') PWYP / Open North
					button.button(name='work-2') GovEx
			hr.line
			p#work-3 
				strong Statistics Canada (StatCan) Crowdsourcing Project: 
				|  I had the exciting opprotunity to work with Statistics Canada on a 
				strong
					a.link(href='www.statcan.gc.ca/eng/crowdsourcing' target='_blank') pilot project 
				| that assesses whether crowdsourcing is a valuable and viable method to collect data for statistical purposes. The project collected building footprint data, such as the geometry and attributes of a single building, in Ottawa and Gatineau through the open source platform OpenStreetMap (OSM). While working on the project, I had the opprotunity to develop a geospatial server to support the crowdsourced OSM geospatial data. In general, the following steps were completed to develop the spatial server: 
				p (i) I collected the OSM data from Geofabrik
				p (ii) I stored the data into a PostGIS database
				p (iii) I developed a Node.js RESTful API to query the database and send the spatial data as a GeoJSON to the front-end
				p (iii) I used Mapbox GL JS to visualize the GeoJSON data as a map
				p (iv) I used the data-driven styling tools in the Mapbox GL JS library to visually assess distribution of OSM building tags
				p To see the code, go 
					strong
						a.link(href='https://github.com/Noznoc/geojson-api', target='_blank') here
			img.image(src='/images/ottawa.PNG')
			img.image(src='/images/gatineau.PNG')
			hr.line
			p#work-2
				strong Open Data Standards Directory: 
				| I have been working with 
				strong
					a.link(href='https://govex.jhu.edu/' target='_blank') Johns Hopkins University's Center for Government Excellence (GovEx) 
				| and 
				strong
					a.link(href='http://geothink.ca/' target='_blank') McGill's Geothink 
				| on a project for 
				strong
					a.link(href='http://geothink.ca/tag/open-data-standards/' target='_blank') open data standards
				|. Various stackholders share the concern that there is no comprehensive database of open data standards. A directory to host and visualize the database provides an opprotunity to share knowledge and communication regarding open data standards. With this in mind, we decided to develop a minimum viable site for open data publishers and open data standard providors to share and disseminate information regarding open data standards. My part of the project involves designing and developing (full stack) the site that hosts this information. As I am new to site development, working on this project has taught me a lot. I learned how to develop a Postgres database, a Node.js and Express back-end, and a Jade and JQuery based front-end, which was then all hosted on the cloud server Heroku. To fully experience the site, go 
				strong
					a.link(href='https://odstandards-directory.herokuapp.com', target='_blank') here
			br
			img.image(id='standards', src='images/standards.PNG')
			hr.line
			p#work-1
				strong Interactive Visualization of Payments:
				|  I worked on contract with 
				strong
					a.link(href='https://www.facebook.com/Publish-What-You-Pay-Canada-499862726848991/' target='_blank') Publish What You Pay Canada 
				| and 
				strong
					a.link(href='http://www.opennorth.ca/' target='_blank') Open North 
				| as a open data consultant and freelance web developer. International mining/oil extraction companies, such as Royal Dutch Shell, publish annual reports on their payments to government organizations and projects. For this project, I compiled data on 2015 payments from international extraction companies to government organizations and projects within Canada into a Google Sheet. I then standardized the data (e.g., converted currencies and units of energy) and then, using SQL, visualized the data into an interactive map and dashboard. In general, the visualizations (coded in JavaScript and D3.js and embedded in HTML) shows where mining projects and government organizations (e.g., municipalities and Indigenous groups) are located within Canada and how much these projects and organizations are paid by extraction companies within 2015. The final deliverables included a database of the payments for 2015, with the ability to add future payments; and, as I synced the visualizations to the database, the visualizations can update automatically when new data is added to the database. Through this work, I became familiar with how these companies document/publish their payments to government organizations, what Canadian organizations receive payments from these companies, and where mining projects occur in Canada. To fully experience the interactive visualization, go 
				strong
					a.link(href='http://geomapp.ca/jconzon/pwyp_visualization_v1/index.html', target='_blank') here
			br
			img.image(id='ivop' src='images/ivop.png')
			script.
				var coordinates = [[[-123.112920, 49.250319], "Vancouver"], [[-73.585429, 45.510820], "Montreal"], [[-75.698078, 45.417133], "Ottawa"], [[-74.2198126, -13.1556384], "Ayacucho"]];
				addMap([-99.3822538, 51.197122], 0, 3, 8, coordinates);
				$('#legend').find('h4').html('PLACES I HAVE WORKED <br> Pan to view or click play <br> <i id="play-circle" class="fa fa-play-circle icon" aria-hidden="true"></i>');


		- if (page == 'blog')
			h2.title All writing is my own opinion
			hr.line 
			.blog
				.blog-post
					include blog-5.jade
				hr.line
				.blog-post
					include blog-4.jade
				hr.line
				.blog-post
					include blog-3.jade
				hr.line
				.blog-post
					include blog-2.jade
				hr.line
				.blog-post
					include blog-1.jade
			script.
				var coordinates = [[[-125.8855, 49.1304], "Tofino"], [[-123.112920, 49.250319], "Vancouver"], [[-122.9543317, 50.1171525], "Whistler"], [[-119.4543, 49.8995], "Kelowna"], [[-120.3442380, 50.6773160], "Kamloops"], [[-119.4523, 49.0333], "Osoyoos"], [[-73.585429, 45.510820], "Montreal"], [[-75.698078, 45.417133], "Ottawa"], [[-74.2198126, -13.1556384], "Ayacucho"], [[-74.1246123, -13.7419442], "Huancaraylla"], [[144.974227, -37.785981], "Melbourne"], [[151.163816, -33.861873], "Sydney"], [[145.7646157, -16.9231207], "Cairns"], [[1.073704, 49.922974], "Dieppe"], [[7.261859, 43.705772], "Nice"], [[2.3899, 48.8585], "Paris"], [[121.608135, 23.986542], "Hualien"], [[121.5383, 25.0496], "Taipei"], [[-112.0097, 33.5546], "Phoenix"], [[6.7763, 51.2257], "Dusseldorf"], [[6.7593, 51.4356], "Duisburg"], [[11.9916, 57.7020], "Gothenburg"], [[4.3516970, 50.8465573], "Brussels"], [[12.5381, 55.7105], "Coppenhagen"], [[-0.0865, 51.4891], "London"], [[-1.2404, 51.7538], "Oxford"], [[-81.2444, 23.1568], "Varadero"], [[-82.3666, 23.1378], "Havana"], [[-155.9991, 19.6402], "Kailua-Kona"], [[-159.5407, 22.0532], "Princeville"]];
				addMap([-99.3822538, 51.197122], 0, 2, 4, coordinates);
				$('#legend').find('h4').html('PLACES I HAVE TRAVELED <br> Pan to view or click play <br> <i id="play-circle" class="fa fa-play-circle icon" aria-hidden="true"></i>');


		- if (page == 'contact')
			.contact
				h2.title Julia Conzon
				p
					a.link.icon(href='https://github.com/Noznoc', target='_blank')
						i.fa.fa-github(aria-hidden='true') 
					a.link.icon(href='https://t.co/jMpBYPZXG0', target='_blank')
						i.fa.fa-linkedin-square(aria-hidden='true')
					a.link.icon(href='https://twitter.com/julconz?lang=en', target='_blank')
						i.fa.fa-twitter-square(aria-hidden='true')
				p.header or e-mail me at juliaconzon@gmail.com
			script.
				var coordinates = [];
				addMap([-74.2198126, -13.1556384], 13, 2, 13, coordinates);
				$('#legend').find('h4').html('WHERE I CURRENTLY LIVE');


