html
	include head.pug

	body

		include header.pug

		.site-content
			.container(style="border:none;")
				- if (id !== 'doc-post')
					h1.title= title
					p= subtitle
				- if (id == 'docs')
					p.pt-4.pb-4.text-center
						a(href='/docs/guide', title='test', data-toggle='test')
							button.button.m-2 guides
						a(href='/docs/tutorial')
							button.button.m-2 tutorials
				include mixins.pug
				each doc in data
					+post(doc.title, doc.subtitle, doc.date, doc.tags, doc.id, 'docs', id)
				- if (id == 'doc-post')
					script.
						openPost();
		include footer.pug

	script.
		$('[data-toggle="tooltip"]').tooltip({container: '.post-links-footer'});
		new ClipboardJS('.post-links-footer .button');
		$('.clipboard').on('click', function(){
			$(this).attr('data-original-title', 'Copied!').tooltip('show')
		});
		$('.clipboard').on('mouseover', function(){
			$(this).attr('data-original-title', 'Click to copy and share the post!').tooltip('show')
		});
