div.content
  form(action='/contact', name='contactus', id='contactus', method='post')
    fieldset
      h2.title Contact Me
      p
        input(placeholder='name', name='name', type='text', value='', id='name')
        input(placeholder='email', name='email', type='text', value='', id='email')
      p
        label(for='message') Leave a message, and I will get back to you!
        br
        br
        textarea(name='message', cols='100', rows='10', id='message')
      p
        input.button(name='submit', type='submit', value='Send', id='submit')