extends layout.pug
block content		
		.text-center.error.pt-5.mt-5
			// h1= message
			h1 
				i.fa.fa-map-signs
				|  Looks like you're lost  
				i.fa.fa-map-signs
			h1 Select one of the menu buttons to be redirected 
				i.fa.fa-compass

  
