.site-footer
  a(href='https://github.com/Noznoc', target='_blank')
    i.fa.fa-github(aria-hidden='true')
  |   |    
  a(href='https://t.co/jMpBYPZXG0', target='_blank')
    i.fa.fa-linkedin-square(aria-hidden='true')
  |   |   
  a(href='https://twitter.com/julconz?lang=en', target='_blank')
    i.fa.fa-twitter-square(aria-hidden='true')
  br
  i.fa.fa-copyright(aria-hidden='true')
  |  2017 | Designed and Developed by Julia Conzon
