.site-footer
  p.site-logo
    img.logo(src='/images/nav-logo.svg')
  a(href='https://github.com/Noznoc', target='_blank')
    i.fa.fa-github-square(aria-hidden='true')
  |   |    
  a(href='https://t.co/jMpBYPZXG0', target='_blank')
    i.fa.fa-linkedin-square(aria-hidden='true')
  |   |   
  a(href='https://twitter.com/julconz?lang=en', target='_blank')
    i.fa.fa-twitter-square(aria-hidden='true')
  |   |
  a(href='https://www.openstreetmap.org/user/Noznoc', target='_blank', title='OpenStreetMap')
    i.fa.fa-globe(aria-hidden='true')
  p
    | Designed and Developed by Julia Conzon, 
    i.fa.fa-copyright(aria-hidden='true')
    |  2017
