head

	meta(charset='utf-8')

	title Julia Conzon

	meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')

	// CSS
	link(rel='stylesheet' href='../stylesheets/stylesheet.min.css')

	// Font Awesome
	script(type='text/javascript' src='../javascripts/external/fontawesome-v4.js')

	// jQuery
	script(type='text/javascript' src='../javascripts/external/jquery-v1.11.1/jquery.min.js')
	script(type='text/javascript' src='../javascripts/external/jquery-ui-v1.12.1/jquery-ui.js')
	link(rel='stylesheet', href='../javascripts/external/jquery-ui-v1.12.1/jquery-ui.css')

	// Mapbox
	script(type='text/javascript' src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.js')
	link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.css' rel='stylesheet')

	// D3.js
	script(type='text/javascript' src='../javascripts/external/d3-v4/d3.v4.min.js')

	// Materialize
	//link(rel='stylesheet' href='../javascripts/external/materialize/css/materialize.min.css')
	script(type='text/javascript' src='../javascripts/external/materialize/js/materialize.min.js')


	// Clipboard
	script(type='text/javascript' src='../javascripts/external/clipboard-v1.7.1/clipboard.min.js')

	// Custom javaScripts
	script(type='text/javascript' src='../javascripts/map.js')
	script(type='text/javascript' src='../javascripts/read-blog.js')