head

	meta(charset='utf-8')

	title Julia Conzon

	meta(name='viewport', content='initial-scale=1,maximum-scale=1,user-scalable=no')
	
	// Bootstrap CSS
	link(href='../stylesheets/external/bootstrap.min.css' rel='stylesheet')
	
	// Material Design Bootstrap
	link(href='../stylesheets/external/mdb.min.css' rel='stylesheet')
		
	// jQuery
	script(type='text/javascript' src='../javascripts/external/jquery.min.js')
	
	// Popper
	script(type='text/javascript' src='../javascripts/external/popper.min.js')

	// Font Awesome
	script(type='text/javascript' src='../javascripts/external/fontawesome-v4.js')
	
	// Bootstrap JS
	script(type='text/javascript' src='../javascripts/external/bootstrap.min.js')
	
	// Clipboard.js
	script(type='text/javascript' src="../javascripts/external/clipboard.min.js" )

	// Custom JavaScripts
	script(type='text/javascript' src='../javascripts/map.js')
	script(type='text/javascript' src='../javascripts/read-blog.js')
	
	// Custom CSS
	link(rel='stylesheet' href='../stylesheets/stylesheet.min.css')
