html
	include head.pug
	body(style='overflow-x: hidden !important;')
		header
			.mask.align-items-center.pt-5
				#stream.position-absolute
				.col-md-12.mb-1.text-center.pt-5.mt-5
					h1.h1-reponsive.col-lg-12
						img(src='../images/logo_dark.svg' alt="Logo" style="width: 150px; height: auto;")
					h1.mb-0.font-weight-bold.txt-xxlrg.title-font Julia Conzon
					hr.hr-light.w-50(style="border-color: #3f2d34")
					h2.mb-4.txt-mdm.mb-5
						strong Geographic Information Scientist and Cartographer
					.container(style="border:none;")
						.row.justify-content-center
							a.button-outline.text-lowercase.txt-mdm.link.col-sm-2.m-2(href='./about') about
							a.button-outline.text-lowercase.txt-mdm.link.col-sm-2.m-2(href='./projects') projects
							a.button-outline.text-lowercase.txt-mdm.link.col-sm-2.m-2(href='./blog') blog
							a.button-outline.text-lowercase.txt-mdm.link.col-sm-2.m-2(href='./docs') docs
		main
			.container(style="border:none;")
				.row.py-5
					.col-md-12
						p I am interested in community-led design and development of knowledge information systems and services with years of experience planning crowdsourcing initiatives,  processing geographic information, modeling socio-economic spatial networks, conducting quantitative and qualitative spatial analyses, and co-developing digital products (e.g., web apps, software). As my education and work are multi-disciplinary, one of my goals is to help bridge the gap between social and technical perspectives through a critical lens.
						p 
							a.link(href='./about', target='_blank') Over the years, I have led and contributed
							|  to 
							a.link(href='./projects', target='_blank') several projects
							|  with local to international organizations on topics related to the interconnected relationships between society and the environment. Through my experiences, I have extensive knowledge on techniques applied within the field of Geographic Information Systems/Sciences, Remote Sensing, Physical and Human Geography, and Human Computer Interactions. From conceptualization to production, I am eager to collaborate and contribute towards knowledge bases and systems to facilitate decision-making.
		include footer.pug				
		script(type='text/javascript' src='../javascripts/external/d3-v4.min.js')
		script(type='text/javascript' src='../javascripts/external/streamgraph.js')
		script.
			const w = window.innerWidth;
			streamgraph(w);
			function resize() {
				var nw = window.innerWidth;
				console.log(w - nw)
				if (w - nw < 0) {
					streamgraph(nw);
				}
			}
			window.addEventListener('resize', resize);
