extends layout.pug
block content
	.paragraph
		h2.header Hello, my name is Julia Conzon
		p My work involves collecting, managing, analyzing, and visualizing [big] [open] [georeferenced] data.
		p I have worked on several projects with various clients on a diverse range of topics as a freelance open data consultant and full-stack web developer. Through my work, I have extensive knowledge on (civic) open (spatial) data, licenses, standards, and platform; moreover, I have developed web apps, maps, and information portals.
		p In my spare time, I am active in the open web mapping community, educating individuals, for example, about OpenStreetMap, GDAL, and PostGIS.
		.column
			p As my education and work is multi-disciplinary, my goal is to help bridge the gap between social and technical perspectives, such as ensuring those who are marginalized have the power to collect, interpret, and make their own decisions regarding the data that affects them.	
			p Lastly, and most importantly, I am constantly learning new tricks and techniques to further my career. Feel free to 
				strong
					a.link(href='/contact' target='_blank') contact me
				|  if you have any recommendations!
			p View the
				strong 
					a.link(href='./work', target='_blank') work
				|  section to see the projects I worked on or the
				strong 
					a.link(href='./about', target='_blank') about
				|  section to see a detail list of my work experience.
		.column
			img.image.image-long(src='/images/noznoc.jpg')
			.subtitle Hiking in Yangmingshan National Park, Taiwan

	script.
		var coordinates = [[[-123.112920, 49.250319], "<p>Vancouver</p>"], [[-73.585429, 45.510820], "Montreal"], [[-75.698078, 45.417133], "Ottawa"], [[-74.2198126, -13.1556384], "Ayacucho"]];
		addMap([-99.3822538, 51.197122], 0, 3, 8, "http://www.earthquakescanada.nrcan.gc.ca/api/earthquakes/latest/30d.json", false, false);
		$('#legend').find('h4').html('CANADIAN EARTHQUAKES IN THE PAST 30 DAYS (NRCan API data) <br> Pan to view or click play <br> <i id="play-circle" class="fa fa-play-circle icon" aria-hidden="true"></i>');