html
	include head.pug
	body(style='overflow-x: hidden !important;')
		header
			.mask.align-items-center.pt-5
				#stream.position-absolute
				.col-md-12.mb-1.text-center.pt-5.mt-5
					h1.h1-reponsive.col-lg-12
						img(src='../images/logo_dark.svg' alt="Logo" style="width: 150px; height: auto;")
					h1.mb-0.font-weight-bold.txt-xxlrg.title-font Julia Conzon
					hr.hr-light.w-50(style="border-color: #3f2d34")
					h2.mb-4.txt-mdm.mb-5
						strong Geographic Information Scientist and Cartographer
					.container(style="border:none;")
						.row.justify-content-center
							a.button-outline.text-lowercase.txt-mdm.link.col-sm-2.m-2(href='./about') about me
							a.button-outline.text-lowercase.txt-mdm.link.col-sm-2.m-2(href='./projects') projects
							a.button-outline.text-lowercase.txt-mdm.link.col-sm-2.m-2(href='./blog') blog
							a.button-outline.text-lowercase.txt-mdm.link.col-sm-2.m-2(href='./docs') docs
		main
			.container(style="border:none;")
				.row.py-5
					.col-md-12
						p I am interested in processing geographic information, conducting spatial analyses, and developing products (e.g., web apps, software) with a community-led approach! As my education and work are multi-disciplinary, one of my goals is to help bridge the gap between social and technical perspectives through a critical lens. I have worked on 
							a.link(href='./projects', target='_blank') several projects
							|  with various clients on a diverse range of topics as a 
							a.link(href='./about', target='_blank') freelance open data consultant and full-stack web developer
							| . Through my experiences, I have extensive knowledge on open geospatial data standards and platforms; moreover, I can [collaboratively] build web apps, maps, and information portals to facilitate decision-making.
		include footer.pug				
		script(type='text/javascript' src='../javascripts/external/d3-v4.min.js')
		script(type='text/javascript' src='../javascripts/external/streamgraph.js')
		script.
			const w = window.innerWidth;
			streamgraph(w);
			function resize() {
				var nw = window.innerWidth;
				console.log(w - nw)
				if (w - nw < 0) {
					streamgraph(nw);
				}
			}
			window.addEventListener('resize', resize);
