html
	include head.pug
	body(style='overflow-x: hidden !important;')
		header
			.mask.align-items-center.pt-5
				#stream.position-absolute
				.col-md-12.mb-1.text-center.pt-5.mt-5
					h1.h1-reponsive.col-lg-12
						img(src='../images/logo_dark.svg' alt="Logo" style="width: 150px; height: auto;")
					h1.mb-0.font-weight-bold.txt-xxlrg.title-font Julia Conzon
					hr.hr-light.w-50(style="border-color: #3f2d34")
					h2.mb-4.txt-mdm.mb-5
						strong Geographic Information Scientist and Cartographer
					.container(style="border:none;")
						.row.justify-content-center
							a.button-outline.text-lowercase.txt-mdm.link.col-sm-2.m-2(href='./about') about
							a.button-outline.text-lowercase.txt-mdm.link.col-sm-2.m-2(href='./projects') projects
							a.button-outline.text-lowercase.txt-mdm.link.col-sm-2.m-2(href='./blog') blog
							a.button-outline.text-lowercase.txt-mdm.link.col-sm-2.m-2(href='./docs') docs
		main
			.container(style="border:none;")
				.row.py-5
					.col-md-12
						p I am a geographic information and data scientist focused on community-led design and development of knowledge information systems and services. I have 5+ years of experience planning crowdsourcing initiatives, processing geographic information, modeling socio-economic spatial networks, conducting quantitative and qualitative spatial analyses, and co-developing digital products (e.g., web apps, software) with diverse stakeholders from international to community scales. I apply multi-disciplinary methods that integrate social and computer sciences to address complex challenges at the intersection of society and the environment.
						p 
							a.link(href='./about', target='_blank') I have led and contributed
							|  to 
							a.link(href='./projects', target='_blank') several projects
							|  within government, industry, and academia; further, I hold robust knowledge on techniques applied within Geographic Information Systems/Sciences, Remote Sensing, Physical and Human Geography, and Human Computer Interactions. From conceptualization to implementation, I am eager to collaborate and contribute to the production of knowledge systems that facilitate and simplify data-driven decision making for the user!
		include footer.pug				
		script(type='text/javascript' src='../javascripts/external/d3-v4.min.js')
		script(type='text/javascript' src='../javascripts/external/streamgraph.js')
		script.
			const w = window.innerWidth;
			streamgraph(w);
			function resize() {
				var nw = window.innerWidth;
				console.log(w - nw)
				if (w - nw < 0) {
					streamgraph(nw);
				}
			}
			window.addEventListener('resize', resize);
