html
	head
		title Julia Conzon

		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		
		// Font Awesome
		script(src='https://use.fontawesome.com/5f92b1f541.js')

		// jQuery
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
		link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')

		// Mapbox
		link(rel='stylesheet', src='https://api.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.css')
		script(src='https://api.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.js')

		// javaScripts
		script(src='../javascripts/map.js')
		script(src='../javascripts/read-blog.js')

		// CSS
		link(rel='stylesheet', href='../stylesheets/stylesheet.css')
		

	body

		include header.jade

		include content.jade

		include footer.jade

		script.
			readBlog();