html
	include head.pug

	body

		include header.pug

		.site-content
			.text
				block content

		include footer.pug

		script.
			new Clipboard('.clipboard');
			$(function() {
				$(document).tooltip();
			});

