extends layout.pug
block content
	h1.title All code is accessible in my 
		a.link(href='https://github.com/Noznoc', target='_blank') GitHub repos
		| . Also, check out my 
		a.link(href='/docs/tutorial', target='_blank') tutorials
		| !
	p#buttons
		button.button.m-2(name='projects-5') ESDC
		button.button.m-2(name='projects-4') Mapbox
		button.button.m-2(name='projects-3') StatCan
		button.button.m-2(name='projects-2') GovEx
		button.button.m-2(name='projects-1') PWYP
	.container
		p#projects-5
			h2.mt-4.mb-4 Potential Accessibility Software Service (PASS)
			p As a senior GIScientist at 
				a.link(href='https://www.canada.ca/en/employment-social-development.html' target='_blank') Employment and Social Development Canada
				| , I led the design and development of an open source tool, PASS, to offer business analyst an opportunity to better measure how spatially accessible their in-person services are for an user-defined population. To learn more about PASS, check out the 
				a.link(href='https://github.com/DSD-ESDC-EDSC/pass', target='_blank') GitHub repo
				| .
			.pt-2.d-flex.justify-content-around
				img.img-thumbnail.mt-2.mb-4(src='/images/pass_v0.1.gif')
	.container
		p#projects-4
			h2.mt-4.mb-4 Building Canada 2020 Project (#BC2020)
			.pt-2.d-flex.justify-content-around
				img.img-thumbnail.mt-2.mb-4(src='/images/bc2020.gif')
			p Building Canada 2020 project (BC2020) is a community-led initiative driven by a simple and clear vision: map all buildings in Canada on OpenStreetMap (OSM) by the year 2020. While interning at Mapbox, the Community Team supported my participation in the BC2020, but but my involvement actually initiated from my work at Statistics Canada on the 
				a.link(href='https://www.statcan.gc.ca/eng/crowdsourcing' target='_blank') Crowdsourcing project
				| , as well as my personal interests in volunteered geographic information. For more details about the project, check out the Mapbox "Points of Interest"   
				a.link(href='https://blog.mapbox.com/osmgeoweek-mapathons-support-building-canada-2020-eb0ca4edf8fe' target='_blank') blog post
				|  I wrote. 
			p Though conceptually simple, mapping all buildings in all of Canada on OSM is no simple task. Without a large and diverse group of individuals that are willing to maintain participation, we may find that contirbutions decline with time, as has been seen in many past crowdsourcing projects. Interest usually starts strong, which has been the case so far in BC2020, but other priorities can affect a volunteer's ability to remain committed to a proect, and thus participation can weaken or even stop. Therefore, in my opinion, the success of BC2020 comes from continuous engagement and education to various private and public organizations across all of Canada, which includes NGOs, government entities at various geographic levels, local citizens and experienced OSM contributors, and academic institutions.
			h3 Mapathon Organization
			p There has been a growing interest to incorporate OSM into academia, which I have witnessed online and which my former and current colleagues have informed me they witnessed at the HOT Summit in Ottawa (Sept. 14-15, 2017). With this in mind, Mapbox's Community Team and I believed engaging with Canadian post-secondary institutions would be a great opprotunity to educate academics and students, as well as other interested individuals, about OSM and how to contribute data onto OSM for BC2020 during OSMGeoWeek (Nov. 12-18, 2017) in a meaningful way!
			p When beginning, I wanted to ensure that the leaders for each mapathon had a GIS background, so I decided to reach out to individuals at various universities and colleges across Canada that were affiliated with either 
				a.link(href='http://geothink.ca/project-description/' target='_blank') Geothink
				|  or were the heads of Geography libraries. After solidifying interest from 8 different groups (2 in BC, 1 in ATLA, 1 in MAN, 3 in ON, 1 in QC), I created a 
				a.link(href='https://wiki.openstreetmap.org/wiki/WikiProject_Canada/Building_Canada_2020/OSMGeoWeek2017' target='_blank') wiki page
				|  documenting guidelines and resources for hosting mapathons specifically for mapping buildings on OSM. I also helped identify the area of interest (AOI) that each mapathon would armchair map. Since I wanted to avoid beginner mappers adding buildings within already mapped regions on OSM, I scanned rural Canadian regions on OSM that I suspected would be unmapped. After identifying a suitable region, I then researched whether or not that region had an already existing open dataset of buildings that could be imported. If there was no existing dataset, I concluded that the region was appropriate for the mapathon. Some universities even reached out to their AOI's municipality to see if there were building footprint open datasets that could be imported instead (in which case they would have selected a different region as importing requires more expertise). The municipalities who stated they did not also expressed support for the initiative! It was warming to see eager mapathon leaders connecting with local municipalities, and even local OSM contributors, to collaborate.
			p Once the AOIs were picked, I wanted to develop tasks in the 
				a.link(href='http://tasks.osmcanada.ca/' target='_blank') Canadian Tasking Manager
				|  for the mapathons so that the participants had clear instructions on how to map buildings on OSM with the iD editor. (Note: JOSM would have been preferred because the building_tools plug-in makes adding buildings seamless, but there is a learning curve because JOSM's graphical interface is not user-friendly.) After communicating with a Canadian OSM community member about my intentions, I was granted admin rights to create projects in the Tasking Manager. The image below shows a task I created for North Battleford, SASK.
			.pt-2.d-flex.justify-content-around
				img.img-thumbnail.mt-2.mb-4(src='/images/bc2020_task.png')
			h3 Data Visualization
			p After the mapathons took place between Nov. 10 - 17, I wanted to analyze and visualize the contributed data. First, I used 
				a.link(href='https://overpass-turbo' target='_blank') Overpass Turbo
				|  to see what buildings were contributed in the 8 AOIs that were mapped; so, on Nov. 20, I zoomed into each AOI and used the following query to select the OSM buildings contributed from the mapathons: 
				a.code-text building=yes and newer:7day
				| . I then opened each query within JOSM and saved them as individual OSM XMLs to ensure I didn't lose the metadata, which would have been the case if I directly saved the queries as GeoJSONs from Overpass Turbo. Next, I used 
				a.link(href='https://github.com/tyrasd/osmtogeojson' target='_blank') osmtogeojson
				|  to convert the OSM XMLs to GeoJSONs for each AOI. I then imported the GeoJSONs into QGIS to assess the data. Some GeoJSONs had point and polygon data, but I only imported the polygon data into QGIS. In QGIS, I calculated the total number of contributors and buildings for each AOI. After analyzing the data, I merged all GeoJSONs together using 
				a.link(href='http://geojson.io/' target='_blank') geojson.io
				| . I saved the merged GeoJSON and then used 
				a.link(href='https://github.com/mapbox/tippecanoe' target='_blank') tippecanoe
				|  to convert the GeoJSON into a vector tileset. Lastly, I imported the tileset into Mapbox Studio to create a custom style (although I used Mapbox's Standard style as the starting point).
			p With all the data cleaned, I was ready to create the data visualization. I used 
				a.link(href='https://github.com/mapbox/malaria-mapping' target='_blank') Mapbox's Malaria Mapping
				|  visualization as a guide, but instead of running the repo's scripts, I just altered the timestamps in Sublime Text (e.g., 2017-11-17T21:26:38+00:00 to 20171117). After adjusting the timestamps, I used 
				a.link(href='https://www.mapbox.com/mapbox-gl-js/api/' target='_blank') Mapbox GL JS
				|  to create the time slider functionality. I also wanted every mapathon participant to see their contributions, so I added a button for each participating organization. This way a mapathon leader or participant can be directed to their AOI and review their contributions and stats. From my interactions with the visualization, it was neat to see how some AOIs had mapping done over multiple days.
			h3 Validation
			p I believe validation is very important for BC2020, and more generally to OSM. It is not just about adding data, but about having data that is reliable. Also, validation is especially important because most mapathon participants were beginner armchair mappers and new to OSM. I wanted to make sure the visualization supports validation efforts, thus I added popups so users could select a building footprint and then be directed to that specific building in the iD editor. Also, whenever a user zooms into a selected AOI, they can click on a button to be directed to the task in the Canadian Tasking Manager, or directed to review the 
				a.link(href='https://wiki.openstreetmap.org/wiki/WikiProject_Canada/Building_Canada_2020/OSMGeoWeek2017#Validation' target='_blank') validation documentation
				|  I wrote up in the wiki. You can see the visualization on 
				a.link(href='https://noznoc.github.io/bc2020-osmgeoweek2017' target='_blank') GitHub
				| !
			h3 Conclusion
			p My work isn't done yet; it is just beginning. I am working with the universities to conduct validation and I intend on adapting the visualization to handle dynamic data that visualizations all changesets with #bc2020 in the comments. Please let me know if you are intersted in contributing or helping in any capacity! As mentioned above, the success of BC2020 requires a group of active participants!
	.container
		p#projects-3
			h2.mt-4.mb-4 Statistics Canada (StatCan) Crowdsourcing Project
			p  I had the exciting opprotunity to work with Statistics Canada on a 
				a.link(href='www.statcan.gc.ca/eng/crowdsourcing' target='_blank') pilot project
				|  that assesses whether crowdsourcing is a valuable and viable method to collect data for statistical purposes. The project collected building footprint data, such as the geometry and attributes of a single building, in Ottawa and Gatineau through the open source platform OpenStreetMap (OSM). While working on the project, I had the opprotunity to develop a geospatial server to support the crowdsourced OSM geospatial data. In general, the following steps were completed to develop the spatial server:
				ol 
					li I collected the OSM data from Geofabrik
					li I stored the data into a PostGIS database
					li I developed a Node.js RESTful API to query the database and send the spatial data as a GeoJSON to the front-end
					li I used Mapbox GL JS to visualize the GeoJSON data as a map
					li I used the data-driven styling tools in the Mapbox GL JS library to visually assess distribution of OSM building tags
					li I designed and developed a web app to visualize the GeoJSONs
				p To see the code, check out the 
					a.link(href='https://github.com/Noznoc/geojson-api', target='_blank') GitHub repo
					|.
			.pt-2.d-flex.justify-content-around
				img.img-thumbnail.mt-2.mb-4(src='/images/geojsonapi.png')
			.pt-2.d-flex.justify-content-around
				img.img-thumbnail.mt-2.mb-4(src='/images/ottawa.PNG')
			.pt-2.d-flex.justify-content-around
				img.img-thumbnail.mt-2.mb-4(src='/images/gatineau.PNG')
	.container
		p#projects-2
			h2.mt-4.mb-4 Open Data Standards Directory
			p I was a research assistant and developer for the 
				a.link(href='https://govex.jhu.edu/' target='_blank') Johns Hopkins University's Center for Government Excellence (GovEx)
				|  and 
				a.link(href='http://geothink.ca/' target='_blank') McGill's Geothink
				|   
				a.link(href='http://publications.mcgill.ca/reporter/2017/12/open-data-more-standards-more-useful/' target='_blank') Open Data Standards
				|  project. Various stackholders share the concern that there is no comprehensive database of open data standards. A directory to host and visualize the database provides an opprotunity to share knowledge and communication regarding open data standards. With this in mind, we decided to develop a minimum viable site for open data publishers and open data standard providers to share and disseminate information regarding open data standards. To learn more about the project, check out the following online articles from 
				a.link(href='http://www.govtech.com/civic/GovEx-Launches-First-International-Open-Data-Standards-Directory.html' target='_blank') GT
				| , 
				a.link(href='http://www.mcgill.ca/newsroom/channels/news/better-data-governments-282716' target='_blank') McGill University
				| , 
				a.link(href='http://statescoop.com/new-open-data-directory-collects-standards-from-around-the-world' target='_blank') State Scoop
				| , 
				a.link(href='https://civsourceonline.com/2017/11/20/govex-geothink-launch-open-data-standards-directory/' target='_blank') Civic Source
				| , and 
				a.link(href='http://thegovlab.org/govex-launches-first-international-open-data-standards-directory/' target='_blank') NYU's GovLab
				| .
			p My part of the project involves designing and developing (full stack) the site that hosts this information. As I am new to site development, working on this project has taught me a lot. I learned how to develop a Postgres database, a Node.js and Express back-end, and a Pug and JQuery based front-end, which was then all hosted on the cloud server Heroku. To fully experience the site, check out the 
				a.link(href='http://datastandards.directory/', target='_blank') GitHub repo
				| .
			.pt-2.d-flex.justify-content-around
				img.img-thumbnail.mt-2.mb-4(id='standards', src='images/standards-1.png')
			.pt-2.d-flex.justify-content-around
				img.img-thumbnail.mt-2.mb-4(id='standards', src='images/standards-2.png')
	.container
		p#projects-1
			h2.mt-4.mb-4 Interactive Visualization of Payments
			p I worked on contract with 
				a.link(href='https://www.facebook.com/Publish-What-You-Pay-Canada-499862726848991/' target='_blank') Publish What You Pay Canada
				|  and 
				a.link(href='http://www.opennorth.ca/' target='_blank') Open North
				|  as a open data consultant and freelance web developer. International mining/oil extraction companies, such as Royal Dutch Shell, publish annual reports on their payments to government organizations and projects. For this project, I compiled data on 2015 payments from international extraction companies to government organizations and projects within Canada into a Google Sheet. I then standardized the data (e.g., converted currencies and units of energy) and then, using SQL, visualized the data into an interactive map and dashboard. In general, the visualizations (coded in JavaScript and D3.js and embedded in HTML) shows where mining projects and government organizations (e.g., municipalities and Indigenous groups) are located within Canada and how much these projects and organizations are paid by extraction companies within 2015. The final deliverables included a database of the payments for 2015, with the ability to add future payments; and, as I synced the visualizations to the database, the visualizations can update automatically when new data is added to the database. Through this work, I became familiar with how these companies document/publish their payments to government organizations, what Canadian organizations receive payments from these companies, and where mining projects occur in Canada. To see the source code, check out the 
				a.link(href='http://geomapp.ca/jconzon/pwyp_visualization_v1/index.html', target='_blank') GitHub repo
				| .
			.pt-2.d-flex.justify-content-around
				img.img-thumbnail.mt-2.mb-4(id='ivop' src='images/ivop.png')
	script.
		var coordinates = [[[-123.112920, 49.250319], "Vancouver"], [[-73.585429, 45.510820], "Montreal"], [[-75.698078, 45.417133], "Ottawa"], [[-74.2198126, -13.1556384], "Ayacucho"]];
		addMap([-98.0046126,46.4760507], 0, 3, 8, coordinates, true, false, 'projects');
		$('#legend').find('h4').html('PLACES I HAVE WORKED <br><br> Pan to view or click play <br> <i id="play-circle" class="fa fa-play-circle icon" aria-hidden="true"></i>');
		$('.button').on('click', function () {
			var name = $(this).attr('name');
		    $('html, body').animate({
		        scrollTop: $('#' + name).offset().top
		    }, 1000);
		})
