extends layout.pug
block content
	h2.title All code is accessible in my 
		a.link(href='https://github.com/Noznoc', target='_blank') GitHub repos
		| . Also, check out my 
		a.link(href='/docs/tutorial', target='_blank') tutorials
		| !
	p#buttons
		button.button(name='projects-4') Mapbox
		button.button(name='projects-3') StatCan
		button.button(name='projects-2') GovEx
		button.button(name='projects-1') PWYP
	.container
		p#projects-4
			h2 Building Canada 2020 Project (#BC2020)
			img.image#gif(src='/images/bc2020.gif')
			p BC2020 is a community-led initiative driven by a simple and clear vision: map all buildings in Canada on OpenStreetMap (OSM) by the year 2020. For more details about the project, check out the Mapbox "Points of Interest"   
				a.link(href='https://blog.mapbox.com/osmgeoweek-mapathons-support-building-canada-2020-eb0ca4edf8fe' target='_blank') blog post
				|  I wrote. While interning at Mapbox, I was supported by the Community Team to participate in the Building Canada 2020 project (BC2020); but also, my involvement in BC2020 initiated from working at Statistics Canada on the 
				a.link(href='https://www.statcan.gc.ca/eng/crowdsourcing' target='_blank') Crowdsourcing project
				|  as well as personal interests in volunteered geographic information.
			p So far, my contributions to the project have involved supporting a series of mapathons at Canadian universities, colleges, and organizations during OSMGeoWeek (Nov. 12-18, 2017). Since there has been a growing interest to incorporate OSM into academia, Mapbox's Community Team and I thought this would be a great opprotunity to educate academics and students, as well as other interested individuals, about OSM and how to contribute data onto OSM!
			p After reaching out to GIS affiliated individuals at universities and colleges regarding hosting mapathons for OSMGeoWeek, I created a 
				a.link(href='https://wiki.openstreetmap.org/wiki/WikiProject_Canada/Building_Canada_2020/OSMGeoWeek2017' target='_blank') wiki page
				|  documententing guidelines and resources for hosting mapathons. I also helped identify the area of interest (AOI) that each mapathon would armchair map. Since I wanted to avoid beginner mappers adding buildings within already mapped regions in OSM, I scanned rural Canadian regions in OSM that I suspected would be unmapped. When I found a hardly mapped region, I then researched whether or not that region had an already existing open dataset of buildings that could be imported. If there was no existing dataset, I concluded that the region was sufficient for the mapathon. Some universities even reached out to their municipality's AOI to see if there were building footprint open datasets that existed to be imported. The municipalities who stated they did not, expressed support for the initiative!
			p Once the AOIs were picked, I developed tasks in the 
				a.link(href='http://tasks.osmcanada.ca/' target='_blank') Canadian Tasking Manager
				|  for the mapathons. I wanted to ensure that the participants had clear instructions on how to map buildings on OSM with the iD editor. The image below shows a task I created for North Battleford, SASK.
			img.image(src='/images/bc2020_task.png')
			p After the mapathons took place between Nov. 10 - 17, I wanted to analyze and visualize the contributed data. Firstly, I used 
				a.link(href='https://overpass-turbo' target='_blank') Overpass Turbo 
				| to see what buildings were contributed in the 8 AOIs that were mapped; so, on Nov. 20, I zoomed into each AOI and used the following query to select the OSM buildings contributed from the mapathons: 
				a.code-text building=yes and newer:7day
				| . I then opened each query within JOSM and saved them as individual OSM XMls to ensure I didn't lose the metadata, which would have been the case if I just saved the queries as GeoJSONs from Overpass Turbo. Next, I used
				a.link(href='https://github.com/tyrasd/osmtogeojson' target='_blank') osmtogeojson
				|  to convert the OSM XMLs to GeoJSONs for each AOI. I then imported the GeoJSONs into QGIS to assess the data. Some GeoJSONs had point and polygon data, but I only imported the polygon data into QGIS. In QGIS, I opened the attribute tables and calculated the total number of contributors and buildings for each AOI. After analyzing the data, I merged all GeoJSONs together using 
				a.link(href='http://geojson.io/' target='_blank') geojson.io
				| . I saved the merged GeoJSON and then used 
				a.link(href='https://github.com/mapbox/tippecanoe' target='_blank') tippecanoe 
				|  to convert the GeoJSON into a vector tileset. Lastly, I imported the tileset into Mapbox Studio to create a custom style (although I used Mapbox's Standard style as the starting point).
			p With all the data cleaned, I was ready to create the data visualization. I used Mapbox's Malaria Mapping dashboard as a guide, but instead of running the repo's scripts, I just altered the timestamps in Sublime (e.g., 2017-11-17T21:26:38+00:00 to 20171117). After adjusting the timestamps, I used Mapbox GL JS to create the time slider functionality. I wanted every mapathon participant to see their work, so I made sure there was a button for each participating organization so they could be directed to their AOI and review their contributions and stats.
			p Validation is very important, especially because the mapathon participants were beginner armchair mappers and new to OSM. I wanted to make sure the visualization supports validation efforts, so I added popups so users could select a building footprint and then be directed to that specific building in the iD editor. Also, whenever a user zooms into a given AOI, they can click on a button to be directed to the task in the Canadian Tasking Manager, or they can review the 
				a.link(href='https://wiki.openstreetmap.org/wiki/WikiProject_Canada/Building_Canada_2020/OSMGeoWeek2017#Validation' target='_blank') validation documentation
				|  I wrote up in the wiki. You can see the visualization 
				a.link(href='https://noznoc.github.io/bc2020-osmgeoweek2017/#12/43.3755/-80.9886' target='_blank') here
				| !
			p My work isn't done yet, it is just beginning. I am working with the universities to conduct validation and I want to improve the visualization to handle dynamic data that is being contributed in OSM within the AOIs.
	.container
		p#projects-3
			h2 Statistics Canada (StatCan) Crowdsourcing Project
			p  I had the exciting opprotunity to work with Statistics Canada on a 
				strong
					a.link(href='www.statcan.gc.ca/eng/crowdsourcing' target='_blank') pilot project
				|  that assesses whether crowdsourcing is a valuable and viable method to collect data for statistical purposes. The project collected building footprint data, such as the geometry and attributes of a single building, in Ottawa and Gatineau through the open source platform OpenStreetMap (OSM). While working on the project, I had the opprotunity to develop a geospatial server to support the crowdsourced OSM geospatial data. In general, the following steps were completed to develop the spatial server: 
			p (i) I collected the OSM data from Geofabrik
			p (ii) I stored the data into a PostGIS database
			p (iii) I developed a Node.js RESTful API to query the database and send the spatial data as a GeoJSON to the front-end
			p (iv) I used Mapbox GL JS to visualize the GeoJSON data as a map
			p (v) I used the data-driven styling tools in the Mapbox GL JS library to visually assess distribution of OSM building tags
			p (vi) I designed and developed a web app to visualize the GeoJSONs
			p To see the code, go 
				a.link(href='https://github.com/Noznoc/geojson-api', target='_blank') here
				|.
			img.image.image-wide(src='/images/geojsonapi.png')
			p
				img.image.image-wide(src='/images/ottawa.PNG')
			p
				img.image.image-wide(src='/images/gatineau.PNG')
	.container
		p#projects-2
			h2 Open Data Standards Directory
			p I have been working with 
				strong
					a.link(href='https://govex.jhu.edu/' target='_blank') Johns Hopkins University's Center for Government Excellence (GovEx)
				|  and 
				strong
					a.link(href='http://geothink.ca/' target='_blank') McGill's Geothink
				|  on a project for 
				strong
					a.link(href='http://geothink.ca/tag/open-data-standards/' target='_blank') open data standards
				|. Various stackholders share the concern that there is no comprehensive database of open data standards. A directory to host and visualize the database provides an opprotunity to share knowledge and communication regarding open data standards. With this in mind, we decided to develop a minimum viable site for open data publishers and open data standard providers to share and disseminate information regarding open data standards. My part of the project involves designing and developing (full stack) the site that hosts this information. As I am new to site development, working on this project has taught me a lot. I learned how to develop a Postgres database, a Node.js and Express back-end, and a Pug and JQuery based front-end, which was then all hosted on the cloud server Heroku. To fully experience the site, go 
				a.link(href='http://datastandards.directory/', target='_blank') here
				| .
			img.image.image-wide(id='standards', src='images/standards-1.png')
			p
				img.image.image-wide(id='standards', src='images/standards-2.png')
	.container
		p#projects-1
			h2 Interactive Visualization of Payments
			p I worked on contract with 
				a.link(href='https://www.facebook.com/Publish-What-You-Pay-Canada-499862726848991/' target='_blank') Publish What You Pay Canada
				|  and 
				a.link(href='http://www.opennorth.ca/' target='_blank') Open North
				|  as a open data consultant and freelance web developer. International mining/oil extraction companies, such as Royal Dutch Shell, publish annual reports on their payments to government organizations and projects. For this project, I compiled data on 2015 payments from international extraction companies to government organizations and projects within Canada into a Google Sheet. I then standardized the data (e.g., converted currencies and units of energy) and then, using SQL, visualized the data into an interactive map and dashboard. In general, the visualizations (coded in JavaScript and D3.js and embedded in HTML) shows where mining projects and government organizations (e.g., municipalities and Indigenous groups) are located within Canada and how much these projects and organizations are paid by extraction companies within 2015. The final deliverables included a database of the payments for 2015, with the ability to add future payments; and, as I synced the visualizations to the database, the visualizations can update automatically when new data is added to the database. Through this work, I became familiar with how these companies document/publish their payments to government organizations, what Canadian organizations receive payments from these companies, and where mining projects occur in Canada. To fully experience the interactive visualization, go 
				a.link(href='http://geomapp.ca/jconzon/pwyp_visualization_v1/index.html', target='_blank') here
				| .
			img.image.image-wide(id='ivop' src='images/ivop.png')
	script.
		var coordinates = [[[-123.112920, 49.250319], "Vancouver"], [[-73.585429, 45.510820], "Montreal"], [[-75.698078, 45.417133], "Ottawa"], [[-74.2198126, -13.1556384], "Ayacucho"]];
		addMap([-98.0046126,46.4760507], 0, 3, 8, coordinates, true, false, 'projects');
		$('#legend').find('h4').html('PLACES I HAVE WORKED <br><br> Pan to view or click play <br> <i id="play-circle" class="fa fa-play-circle icon" aria-hidden="true"></i>');
		$('.button').on('click', function () {
			var name = $(this).attr('name');
		    $('html, body').animate({
		        scrollTop: $('#' + name).offset().top
		    }, 1000);
		})