p My work involves collecting, managing, analyzing, and visualizing [big] [open] [georeferenced] data.
p In May 2016, I graduated from McGill University, Canada, with a B.A. in Geography and minors in Geographic Information Systems (GIS) and Anthropology. Since graduating, I have worked on several projects with various clients on a diversity of topics as a freelance open data consultant and full-stack web developer. Although my background was not in computer science, through my hard work, self-discpline and -motivation, I have pushed myself to learn web development and web mapping. I now have extensive knowledge on (civic) open (spatial) data, licenses, standards, and platform; moreover, I have developed web apps, maps, and information portals.
p On my spare time, I am active in the open web mapping community, teaching individuals, for example, about OpenStreetMap and Mapbox.
p Overall my goal is to bridge the gap between social and technical perspectives, such as ensuring those who are marginalized have the power to collect, interpret, and make their own decisions regarding the data that affects them. I highly recommend reading 'Weapons of Math Destruction' by Cathy O'Neil for a deeper perspective on this.
p Lastly, and most importantly, I am constantly learning new tricks and techniques to further my career. Feel free to 
	strong
		a.link(href='/contact' target='_blank') contact me
	|  if you have any recommendations!