.form
	text-align: center

	textarea
		border: 1px solid $accent-color
		font-size: 15px
		width: 695px
		@media screen and (max-width: 750px)
			font-size: 12px
			width: 300px

	input[type=text]:focus, textarea:focus
		box-shadow: 0 0 5px rgba(77, 190, 177, 1)

	.button
		font-size: 13px
