.form
	text-align: center

	textarea
		border: 1px solid $link-color
		font-size: 15px
		width: 800px
		height: 200px
		background-color: white
		@media screen and (max-width: 750px)
			font-size: 12px
			width: 250px

	textarea:focus
		box-shadow: 0 0 5px #4dbeb1
		background: none
		outline: none

	.button
		font-size: 13px
