.site-header
	color: $secondary-color
	width: 100%
	font-size: 40px
	position: relative
	@media screen and (max-width: 600px)
		font-size: 16px

	.map-container
		width: 100%
		font-size: 10px
		height: 200px
		@media screen and (max-width: 600px)
			height: 100px
		
		#map
			height: 100%
			width: 100%
			
	.navigation
		text-align: center
		background-color: $primary-color
		list-style-type: none
		margin: 0
		padding: 0
		margin-bottom: 40px

		li 
			top: 0
			display: inline-block
			text-align: center
			padding: 14px 16px
			@media screen and (max-width: 600px)
				padding: 10px 12px
			text-decoration: none
			background-color: $primary-color
			font-family: $primary-font
			color: $secondary-color
			&:hover
				background-color: $hover-color
				cursor: pointer

		li.active
			background-color: #fff
			color: $header-color

	.navigation-content
		margin-bottom: 0px
		border-bottom: 2px solid white

		a
			i
				color: #fff
				font-size: 20px
