.site-header
	color: white
	width: 100%
	font-size: 40px
	position: relative
	@media screen and (max-width: 750px)
		font-size: 12px

	@import map
			
	.navigation
		text-align: center
		list-style-type: none
		margin: 0px
		padding: 0px
		margin-bottom: 40px
		@media screen and (max-width: 750px)
			margin-bottom: 20px

		li 
			top: 0
			display: inline-block

			&:hover
				color: $font-color
				border-bottom: 4px solid $header-accent-color
				border-top: 4px solid $header-accent-color
				cursor: pointer
				@media screen and (max-width: 750px)
					border-bottom: 2px solid $header-accent-color
					border-top: 2px solid $header-accent-color

		li.active
			color: $font-color
			border-bottom: 4px solid $header-accent-color
			border-top: 4px solid $header-accent-color
			text-decoration: none
			@media screen and (max-width: 750px)
				border-bottom: 2px solid $header-accent-color
				border-top: 2px solid $header-accent-color

	.navigation-site
		border-bottom: $header-color 1px solid
		border-top: $header-color 1px solid

		li
			width: 140px
			@media screen and (max-width: 750px)
				width: 60px

			&:hover
				.page-content
					display: block

					a
						&:hover
							color: $font-color
							border-bottom: 1px solid $header-accent-color
							text-decoration: none

		a
			text-decoration: none
			display: inline-block
			color: $font-color
			padding: 10px 40px
			font-size: 20px
			text-align: center
			font-family: $primary-font
			@media screen and (max-width: 750px)
				padding: 10px 10px
				font-size: 12px

		.page-content
			display: none
			position: absolute
			box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2)
			background-color: white
			z-index: 1

			a
				width: 140px
				display: block
				font-size: 15px
				border-bottom: 1px solid $header-color
				margin: 0px
				padding: 10px 0px
				@media screen and (max-width: 750px)
					width: 60px
					font-size: 10px

	.navigation-content
		margin-bottom: 0px
		border-top: 1px solid $header-color
		background: $accent-color
		text-align: right

		li
			padding: 0px 0px
			&:hover
				border: 0px
				cursor: default

			a
				i
					color: white
					font-size: 20px
					padding: 7px 2px
					&:hover
						cursor: pointer
					@media screen and (max-width: 750px)
						font-size: 12px

