.site-header
	color: white
	width: 100%
	font-size: 40px
	position: relative
	@media screen and (max-width: 750px)
		font-size: 12px

	@import map
			
	.navigation
		text-align: center
		list-style-type: none
		margin: 0
		padding: 0
		margin-bottom: 40px
		@media screen and (max-width: 750px)
			margin-bottom: 20px

		li 
			top: 0
			display: inline-block
			font-size: 30px
			text-align: center
			padding: 14px 40px
			@media screen and (max-width: 750px)
				padding: 10px 8px
				font-size: 15px
			text-decoration: none
			font-family: $primary-font
			color: $font-color
			&:hover
				color: $font-color
				border-bottom: 4px solid $header-accent-color
				border-top: 4px solid $header-accent-color
				cursor: pointer

		li.active
			color: $font-color
			border-bottom: 4px solid $header-accent-color
			border-top: 4px solid $header-accent-color

	.navigation-site
		border-bottom: $header-color 1px solid
		border-top: $header-color 1px solid

	.navigation-content
		margin-bottom: 0px
		border-top: 1px solid $header-color
		background: $accent-color
		text-align: right

		li
			padding: 0px 0px
			&:hover
				border: 0px
				cursor: default

			a
				i
					color: white
					font-size: 20px
					padding: 7px 2px
					&:hover
						cursor: pointer
					@media screen and (max-width: 750px)
						font-size: 12px

