.link
	color: darken($accent-color, 10%)
	text-decoration: none
	&:hover
		text-decoration: underline
		cursor: pointer
	@media screen and (max-width: 750px)
		font-size: 12px
		margin-left: 10px
		margin-right: 10px

	i
		padding-right: 10px

.icon
	font-size: 40px
	margin: 25px
	color: $accent-color
	&:hover
		cursor: pointer
		color: $line-color
	@media screen and (max-width: 750px)
		font-size: 20px
		margin-left: 10px
		margin-right: 10px

#play-back, #play-forward
	padding: 0px 10px

.button
	padding: 10px
	background-color: #FFFFFF
	border: solid 2px $line-color
	border-radius: 15px
	color: $line-color
	margin: 0px 20px
	width: 130px
	&:hover
		background-color: $line-color
		color: #FFFFFF
		cursor: pointer
	@media screen and (max-width: 750px)
		margin: 0px 8px
		font-size: 7px
		padding: 6px
		width: 90px

p#buttons
	text-align: center

.clipboard
	font-size: 21px
	padding: 5px
	margin-left: 700px

	@media screen and (max-width: 750px)
		display: none





