.map-container
	width: 100%
	font-size: 10px
	height: 200px

	.legend
		background-color: white
		border-top: 1px solid $accent-color
		border-bottom: 1px solid $accent-color
		bottom: 50%
		font: 11px $primary-font
		padding: 10px
		width: 180px
		position: absolute
		text-align: center
		left: 1%
		z-index: 1

		a
			color: $font-color

		.icon
			margin: 0px
			font-size: 23px
			color: $font-color
			padding: 5px
			&:hover
				color: $link-color
			@media screen and (max-width: 750px)
				font-size: 15px

		h4
			margin: 0 5px
			color: $font-color
			padding: 1px

			i.fa-window-restore
				padding-left: 90px
				font-size: 12px

		@media screen and (max-width: 750px)
			bottom: 120px
			font: 10px $primary-font
			padding: 5px
			width: 120px
	
#header-map
	width: 100%
	height: 200px

.post-map-container
	width: 100%
	position: relative

	#post-map
		width: 100%
		height: 650px
		border-top: 1px solid $accent-color
		border-bottom: 1px solid $accent-color
		position: absolute

	.post-map-legend
		width: 35%
		height: 650px
		position: relative
		background-color: white
		border-top: 1px solid $accent-color
		border-bottom: 1px solid $accent-color
		padding: 10px
		background-color: rgba(255, 255, 255, 0.8)
		position: relative
		font-size: 15px

		img
			border: 0px

.map

	.mapboxgl-ctrl
		font: 10px $secondary-font

	.mapboxgl-popup
		max-width: 200px

	.mapboxgl-popup-content
		font: 12px $secondary-font
		background-color: white
		color: $font-color
		max-width: 190px
		max-height: 100%
		border: 1px solid $line-color
		padding: 10px
		text-align: center
		button
			color: $font-color
			&:hover
				cursor: pointer
				background-color: transparent
				color: $line-color

	