@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara|Khand);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body {
  margin: 0 auto;
  padding: 0px 0px;
  height: 100%;
  width: 100%; }
  html .site-content, body .site-content {
    min-height: 100%;
    position: relative;
    width: 100%;
    text-align: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 70px; }
    html .site-content::after, body .site-content::after {
      clear: both;
      content: "";
      display: block; }

.site-header {
  color: white;
  width: 100%;
  font-size: 40px;
  position: relative; }
  @media screen and (max-width: 750px) {
    .site-header {
      font-size: 12px; } }
  .site-header .map-container {
    width: 100%;
    font-size: 10px;
    height: 200px; }
    .site-header .map-container #map {
      width: 100%;
      height: 200px; }
      .site-header .map-container #map .mapboxgl-marker {
        background-image: url("../images/point-icon.svg");
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-size: cover; }
      .site-header .map-container #map .mapboxgl-ctrl {
        font: 10px "Hind Vadodara", sans-serif; }
      .site-header .map-container #map .mapboxgl-popup {
        max-width: 200px; }
      .site-header .map-container #map .mapboxgl-popup-content {
        font: 12px "Hind Vadodara", sans-serif;
        background-color: #7c1f44;
        color: white;
        max-width: 190px;
        max-height: 60px;
        border: 1px solid #7c1f44;
        padding: 10px;
        text-align: center; }
        .site-header .map-container #map .mapboxgl-popup-content button {
          color: white; }
          .site-header .map-container #map .mapboxgl-popup-content button:hover {
            cursor: pointer;
            color: #85d2ca; }
      .site-header .map-container #map .mapboxgl-popup-tip {
        border-top-color: #7c1f44; }
    .site-header .map-container .legend {
      background-color: #7c1f44;
      border-top: 1px solid #7c1f44;
      border-bottom: 1px solid #7c1f44;
      bottom: 160px;
      font: 14px "Khand", sans-serif;
      padding: 10px;
      width: 160px;
      position: absolute;
      text-align: center;
      left: 10px;
      z-index: 1; }
      .site-header .map-container .legend .icon {
        margin: 0px;
        color: white; }
        .site-header .map-container .legend .icon:hover {
          color: #85d2ca; }
        @media screen and (max-width: 750px) {
          .site-header .map-container .legend .icon {
            font-size: 15px; } }
      .site-header .map-container .legend h4 {
        margin: 0 5px;
        color: white; }
        .site-header .map-container .legend h4 p i.window-restore {
          font-size: 10px;
          text-align: right; }
      @media screen and (max-width: 750px) {
        .site-header .map-container .legend {
          bottom: 120px;
          font: 10px "Khand", sans-serif;
          padding: 5px;
          width: 120px; } }
  .site-header .navigation {
    text-align: center;
    background-color: #688BC0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 40px; }
    @media screen and (max-width: 750px) {
      .site-header .navigation {
        margin-bottom: 20px; } }
    .site-header .navigation li {
      top: 0;
      display: inline-block;
      font-size: 30px;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      background-color: #688BC0;
      font-family: "Khand", sans-serif;
      color: white; }
      @media screen and (max-width: 750px) {
        .site-header .navigation li {
          padding: 10px 10px;
          font-size: 20px; } }
      .site-header .navigation li:hover {
        background-color: #b0c2de;
        border-top: 10px solid #fff389;
        cursor: pointer; }
    .site-header .navigation li.active {
      background-color: #fff;
      color: #201317;
      border-top: 10px solid #fff389; }
  .site-header .navigation-content {
    margin-bottom: 0px;
    border-bottom: 2px solid white;
    text-align: right; }
    .site-header .navigation-content li {
      padding: 0px 5px; }
      .site-header .navigation-content li:hover {
        background-color: #b0c2de;
        border-top: 0px;
        cursor: pointer; }
      .site-header .navigation-content li a i {
        color: #fff;
        font-size: 20px;
        padding: 10px 0px; }
        @media screen and (max-width: 750px) {
          .site-header .navigation-content li a i {
            font-size: 12px; } }

.site-footer {
  background-color: #688BC0;
  font-family: "Khand", sans-serif;
  color: #FFFFFF;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  clear: both;
  padding: 7px;
  height: 70px; }
  @media screen and (max-width: 750px) {
    .site-footer {
      font-size: 15px; } }
  .site-footer a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 0px 20px; }
    .site-footer a:hover {
      text-decoration: underline; }

.text h2, .text h3, .text li, .text p {
  font-family: "Hind Vadodara", sans-serif;
  margin-left: 100px;
  margin-right: 100px;
  text-align: left; }
  @media screen and (max-width: 750px) {
    .text h2, .text h3, .text li, .text p {
      font-size: 12px;
      margin-left: 20px;
      margin-right: 20px; } }
.text ul strong {
  font-weight: bolder;
  text-decoration: underline; }
.text .blog h2, .text .blog h3 {
  text-align: center; }
.text .blog .blog-text {
  display: none; }
.text .blog p i {
  text-align: center; }
.text .contact h2, .text .contact p {
  text-align: center;
  padding: 20px; }

h2.title {
  text-align: center; }

.line {
  width: 800px;
  border: 2px solid #7c1f44;
  border-radius: 100px;
  margin-top: 30px;
  margin-bottom: 30px; }
  @media screen and (max-width: 750px) {
    .line {
      width: 300px; } }

.link {
  color: #5fc5b9;
  text-decoration: none; }
  .link:hover {
    text-decoration: underline;
    cursor: pointer; }
  @media screen and (max-width: 750px) {
    .link {
      font-size: 12px;
      margin-left: 10px;
      margin-right: 10px; } }
  .link i {
    padding-right: 10px; }

.icon {
  font-size: 40px;
  margin: 25px;
  color: #85d2ca; }
  .icon:hover {
    cursor: pointer;
    color: #7c1f44; }
  @media screen and (max-width: 750px) {
    .icon {
      font-size: 20px;
      margin-left: 10px;
      margin-right: 10px; } }

#play-back, #play-forward {
  padding: 0px 10px; }

.button {
  padding: 10px;
  background-color: #FFFFFF;
  border: solid 2px #7c1f44;
  border-radius: 15px;
  color: #7c1f44;
  margin: 0px 20px;
  width: 130px; }
  .button:hover {
    background-color: #7c1f44;
    color: #FFFFFF;
    cursor: pointer; }
  @media screen and (max-width: 750px) {
    .button {
      margin: 0px 8px;
      font-size: 7px;
      padding: 6px;
      width: 90px; } }

p#buttons {
  text-align: center; }

.image {
  border: 5px solid #85d2ca;
  margin: 10px 10px;
  max-width: 800px;
  max-height: 500px; }
  @media screen and (max-width: 775px) {
    .image {
      max-width: 300px;
      max-height: 300px;
      text-align: center;
      border: 5px solid #85d2ca; } }

.small {
  font-size: 10px; }

.medium {
  font-size: 20px; }

.large {
  font-size: 30px; }

.x-large {
  font-size: 40px; }

form fieldset {
  text-align: center;
  border: 0px; }
  @media screen and (max-width: 750px) {
    form fieldset {
      width: 300px; } }
  form fieldset input {
    margin: 0px 15px;
    padding: 10px 92px;
    font-size: 13px;
    text-align: center; }
  form fieldset input, form fieldset textarea {
    border: 1px solid #85d2ca; }
  form fieldset textarea {
    width: 695px; }
  form fieldset input[type=text]:focus, form fieldset textarea:focus {
    box-shadow: 0 0 5px #7c1f44; }

/*# sourceMappingURL=stylesheet.css.map */
