@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara|Khand);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body {
  margin: 0 auto;
  padding: 0px 0px;
  height: 100%;
  width: 100%; }
  html .site-content, body .site-content {
    min-height: 100%;
    position: relative;
    width: 100%;
    text-align: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 70px; }
    html .site-content::after, body .site-content::after {
      clear: both;
      content: "";
      display: block; }

.site-header {
  color: white;
  width: 100%;
  font-size: 40px;
  position: relative; }
  @media screen and (max-width: 750px) {
    .site-header {
      font-size: 12px; } }
  .site-header .map-container {
    width: 100%;
    font-size: 10px;
    height: 200px; }
    .site-header .map-container #map {
      width: 100%;
      height: 200px; }
      .site-header .map-container #map .mapboxgl-ctrl {
        font: 10px "Hind Vadodara", sans-serif; }
      .site-header .map-container #map .mapboxgl-popup {
        max-width: 200px; }
      .site-header .map-container #map .mapboxgl-popup-content {
        font: 12px "Hind Vadodara", sans-serif;
        background-color: white;
        color: #7a2d5f;
        max-width: 190px;
        max-height: 60px;
        border: 1px solid #d7c7cd;
        padding: 10px;
        text-align: center; }
        .site-header .map-container #map .mapboxgl-popup-content button {
          color: white; }
          .site-header .map-container #map .mapboxgl-popup-content button:hover {
            cursor: pointer;
            color: #4dbeb1; }
    .site-header .map-container .legend {
      background-color: white;
      border-top: 1px solid #fff389;
      border-bottom: 1px solid #fff389;
      bottom: 160px;
      font: 14px "Khand", sans-serif;
      padding: 10px;
      width: 180px;
      position: absolute;
      text-align: center;
      left: 10px;
      z-index: 1; }
      .site-header .map-container .legend .icon {
        margin: 0px;
        font-size: 20px;
        color: #3f2d34; }
        .site-header .map-container .legend .icon:hover {
          color: #4dbeb1; }
        @media screen and (max-width: 750px) {
          .site-header .map-container .legend .icon {
            font-size: 15px; } }
      .site-header .map-container .legend h4 {
        margin: 0 5px;
        color: #3f2d34; }
        .site-header .map-container .legend h4 p {
          padding: 0px; }
          .site-header .map-container .legend h4 p i.window-restore {
            font-size: 10px;
            text-align: right; }
      @media screen and (max-width: 750px) {
        .site-header .map-container .legend {
          bottom: 120px;
          font: 10px "Khand", sans-serif;
          padding: 5px;
          width: 120px; } }
  .site-header .navigation {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 40px; }
    @media screen and (max-width: 750px) {
      .site-header .navigation {
        margin-bottom: 20px; } }
    .site-header .navigation li {
      top: 0;
      display: inline-block;
      font-size: 30px;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-family: "Khand", sans-serif;
      color: #3f2d34; }
      @media screen and (max-width: 750px) {
        .site-header .navigation li {
          padding: 10px 10px;
          font-size: 20px; } }
      .site-header .navigation li:hover {
        color: #3f2d34;
        border-bottom: 4px solid #fff389;
        border-top: 4px solid #fff389;
        cursor: pointer; }
    .site-header .navigation li.active {
      color: #3f2d34;
      border-bottom: 4px solid #fff389;
      border-top: 4px solid #fff389; }
  .site-header .navigation-site {
    border-bottom: #d7c7cd 1px solid;
    border-top: #d7c7cd 1px solid; }
  .site-header .navigation-content {
    margin-bottom: 0px;
    border-top: 1px solid #d7c7cd;
    background: #4dbeb1;
    text-align: right; }
    .site-header .navigation-content li {
      padding: 0px 0px; }
      .site-header .navigation-content li:hover {
        border: 0px;
        cursor: default; }
      .site-header .navigation-content li a i {
        color: white;
        font-size: 20px;
        padding: 7px 2px; }
        .site-header .navigation-content li a i:hover {
          cursor: pointer; }
        @media screen and (max-width: 750px) {
          .site-header .navigation-content li a i {
            font-size: 12px; } }

.site-footer {
  border-top: 1px solid #d7c7cd;
  font-family: "Khand", sans-serif;
  color: #3f2d34;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  clear: both;
  padding: 15px;
  height: 70px; }
  @media screen and (max-width: 750px) {
    .site-footer {
      font-size: 15px; } }
  .site-footer a {
    text-decoration: none;
    color: #3f2d34;
    padding: 0px 20px; }
    .site-footer a:hover {
      text-decoration: underline; }

.text {
  color: #3f2d34; }
  .text h2, .text h3, .text li, .text p {
    font-family: "Hind Vadodara", sans-serif;
    text-align: left; }
  .text ul strong {
    font-weight: bolder;
    text-decoration: underline; }

h2.title {
  text-align: center;
  padding-bottom: 20px; }
  @media screen and (max-width: 750px) {
    h2.title {
      font-size: 14px; } }

.paragraph, .container {
  margin: 40px 100px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }
  .paragraph::after, .container::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (max-width: 750px) {
    .paragraph, .container {
      font-size: 12px;
      margin-left: 20px;
      margin-right: 20px; } }
  .paragraph .column, .container .column {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 40.291369653%; }
    .paragraph .column:last-child, .container .column:last-child {
      margin-right: 0; }
  .paragraph .column-small, .container .column-small {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 23.2317609825%;
    margin: 0px 40px;
    text-align: center; }
    .paragraph .column-small:last-child, .container .column-small:last-child {
      margin-right: 0; }
    @media screen and (max-width: 750px) {
      .paragraph .column-small, .container .column-small {
        float: left;
        display: block;
        margin-right: 2.3576520234%;
        width: 31.7615653177%; }
        .paragraph .column-small:last-child, .container .column-small:last-child {
          margin-right: 0; } }
    .paragraph .column-small p.bin, .container .column-small p.bin {
      text-align: center; }
  .paragraph .column-large, .container .column-large {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 100%; }
    .paragraph .column-large:last-child, .container .column-large:last-child {
      margin-right: 0; }

.container {
  border-top: #d7c7cd 1px solid; }

.bin {
  background: #fff389;
  padding: 3px 10px; }

.form h2, .form p {
  text-align: center;
  padding: 20px; }

.blog-post h2, .blog-post h3, .blog-post img {
  text-align: center; }
.blog-post .blog-text {
  display: none; }

.link {
  color: #3a9e93;
  text-decoration: none; }
  .link:hover {
    text-decoration: underline;
    cursor: pointer; }
  @media screen and (max-width: 750px) {
    .link {
      font-size: 12px;
      margin-left: 10px;
      margin-right: 10px; } }
  .link i {
    padding-right: 10px; }

.icon {
  font-size: 40px;
  margin: 25px;
  color: #4dbeb1; }
  .icon:hover {
    cursor: pointer;
    color: #7a2d5f; }
  @media screen and (max-width: 750px) {
    .icon {
      font-size: 20px;
      margin-left: 10px;
      margin-right: 10px; } }

#play-back, #play-forward {
  padding: 0px 10px; }

.button {
  padding: 10px;
  background-color: #FFFFFF;
  border: solid 2px #7a2d5f;
  border-radius: 15px;
  color: #7a2d5f;
  margin: 0px 20px;
  width: 130px; }
  .button:hover {
    background-color: #7a2d5f;
    color: #FFFFFF;
    cursor: pointer; }
  @media screen and (max-width: 750px) {
    .button {
      margin: 0px 8px;
      font-size: 7px;
      padding: 6px;
      width: 90px; } }

p#buttons {
  text-align: center; }

.clipboard {
  font-size: 21px;
  padding: 5px;
  margin-left: 700px; }
  @media screen and (max-width: 750px) {
    .clipboard {
      display: none; } }

.image {
  border: 2px solid #4dbeb1;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center; }

.image-long {
  max-width: 700px;
  max-height: 350px; }
  @media screen and (max-width: 775px) {
    .image-long {
      width: 190px;
      max-height: 280px; } }

.image-wide {
  width: 770px;
  max-height: 600px; }
  @media screen and (max-width: 775px) {
    .image-wide {
      max-width: 260px;
      max-height: 280px;
      width: 190px;
      max-height: 280px; } }

.subtitle {
  text-align: center;
  font-family: "Hind Vadodara", sans-serif;
  font-size: 12px; }
  @media screen and (max-width: 775px) {
    .subtitle {
      width: 195px; } }

.text-small {
  font-size: 10px; }

.text-medium {
  font-size: 20px; }

.text-large {
  font-size: 30px; }

.text-xlarge {
  font-size: 40px; }

.button-xsmall {
  width: 100px; }

.button-small {
  width: 200px; }

.button-medium {
  width: 400px; }

.button-large {
  width: 600px; }

.button-xlarge {
  width: 800px; }

.small {
  width: 200px; }

.medium {
  width: 400px; }
  @media screen and (max-width: 750px) {
    .medium {
      width: 300px; } }

.large {
  width: 700px; }
  @media screen and (max-width: 750px) {
    .large {
      width: 500px; } }

.form {
  text-align: center; }
  .form textarea {
    border: 1px solid #4dbeb1;
    font-size: 15px;
    width: 695px; }
    @media screen and (max-width: 750px) {
      .form textarea {
        font-size: 12px;
        width: 250px; } }
  .form input[type=text]:focus, .form textarea:focus {
    box-shadow: 0 0 5px #4dbeb1; }
  .form .button {
    font-size: 13px; }

.header-side {
  position: relative;
  width: 100px;
  text-align: center;
  margin: 0px -200px;
  padding: 0; }
  .header-side .button {
    position: fixed; }

/*# sourceMappingURL=stylesheet.css.map */
