.text
	color: $font-color

	h2, h3, li, p
		font-family: $secondary-font
		text-align: left

	ul		
		strong
			font-weight: bolder
			text-decoration: underline

h2.title
	text-align: center
	padding-bottom: 20px
	
	@media screen and (max-width: 750px)
		font-size: 14px

p.subtitle
	@include outer-container(800px)
	font-size: 15px
	
	@media screen and (max-width: 750px)
		margin-left: 20px
		margin-right: 20px
		font-size: 12px

.paragraph, .container
	margin: 40px 100px
	@include outer-container(800px)
	
	@media screen and (max-width: 750px)
		font-size: 12px
		margin-left: 20px
		margin-right: 20px

	.column
		@include span-columns(6)
		
	.column-small
		@include span-columns(3)
		margin: 0px 40px
		text-align: center

		@media screen and (max-width: 750px)
			@include span-columns(9)

		p.bin
			text-align: center

	.column-large
		@include span-columns(12)

	.code
		padding: 15px

	.code-text, textarea
		width: 100%
		padding: 2px

	textarea
		height: 100px
		padding: 15px

	.code-text, .code, textarea
		font-family: $code-font
		border-radius: 5px
		border: 1px solid $accent-color
		background-color: lighten($accent-color, 20%)
		text-align: left
		font-size: 12px

	code
		font-family: $code-font

	.header-2
		text-decoration: underline

	.header-1, .header-2
		text-align: left

.container
	border-top: $line-color 1px solid
	padding-bottom: 10px

.bin
	background: $accent-color
	padding: 3px 10px
	border-bottom: 1px solid $accent-color
	position: relative

	&:before
		position: absolute
		content: ""
		top: 25px
		left: 67px
		border-style: solid
		border-width: 15px 26px 0
		border-color: $accent-color transparent
		width: 0
		display: block
		z-index: 0

	@media screen and (max-width: 750px)
		&:before
			left: 100px
			border-width: 10px 20px 0

.form
	h2, p
		text-align: center
		padding: 20px

.hover
	&:hover
		border-top: $accent-color 1px solid
		background: lighten($accent-color, 15%)
		background: -webkit-linear-gradient(lighten($accent-color, 15%), white)
		background: -moz-linear-gradient(lighten($accent-color, 15%), white)
		background: linear-gradient(lighten($accent-color, 15%), white)

.post
	h2, h3, img
		text-align: center
		color: $font-color
		