.text
	color: $font-color

	h2, h3, li, p
		font-family: $secondary-font
		text-align: left

	ul		
		strong
			font-weight: bolder
			text-decoration: underline

h2.title
	text-align: center
	padding-bottom: 20px
	@media screen and (max-width: 750px)
		font-size: 14px

p.subtitle
	@include outer-container(800px)
	font-size: 15px
	@media screen and (max-width: 750px)
		margin-left: 20px
		margin-right: 20px
		font-size: 12px

.paragraph, .container
	margin: 40px 100px
	@include outer-container(800px)
	@media screen and (max-width: 750px)
		font-size: 12px
		margin-left: 20px
		margin-right: 20px

	.column
		@include span-columns(5)
		img
			margin-top: 40px
			margin-left: 30px

		.subtitle
			margin-left: 60px

	.column-small
		@include span-columns(3)
		margin: 0px 40px
		text-align: center

		@media screen and (max-width: 750px)
			@include span-columns(9)

		p.bin
			text-align: center

	.column-large
		@include span-columns(12)

.container
	border-top: $header-color 1px solid

.bin
	background: $header-accent-color
	padding: 3px 10px
	border-bottom: 1px solid $header-accent-color
	position: relative

	&:before
		position: absolute
		content: ""
		top: 25px
		left: 67px
		border-style: solid
		border-width: 15px 26px 0
		border-color: $header-accent-color transparent
		width: 0
		display: block
		z-index: 0

	@media screen and (max-width: 750px)
		&:before
			left: 100px
			border-width: 10px 20px 0

.form
	h2, p
		text-align: center
		padding: 20px

.blog-post
	h2, h3, img
		text-align: center

	.blog-text
		display: none