@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara|Khand)
@import "neat/neat"
@import "bourbon/bourbon"

// colours
$font-color: #3f2d34
$header-color: #d7c7cd
$hover-color: lighten(#688BC0, 20%)
$accent-color: darken(#aae0da, 25%)
$line-color: #7a2d5f
$header-accent-color: #fff389

// fonts
$primary-font: 'Khand', sans-serif
$secondary-font: 'Hind Vadodara', sans-serif